# 0. Granting databricks access to ADLS

In [0]:
configs = {"fs.azure.account.auth.type": "OAuth",
           "fs.azure.account.oauth.provider.type": "org.apache.hadoop.fs.azurebfs.oauth2.ClientCredsTokenProvider",
           "fs.azure.account.oauth2.client.id": "45f41f4b-1a02-4dc5-9df4-bccdabf28638",
           "fs.azure.account.oauth2.client.secret": 'j~T8Q~w~iaBLsPPC0PCSwSWq2ippuXKUYfEAzboe',
           "fs.azure.account.oauth2.client.endpoint": "https://login.microsoftonline.com/68519e48-83f3-435f-a38a-1a7aa77ba987/oauth2/token"}





dbutils.fs.mount(
    source= "abfss://census-malaga-data@censusmalagadata.dfs.core.windows.net",
    mount_point= "/mnt/censusmalaga",
    extra_configs= configs)

True

## 0.1 Listing available directories

In [0]:
%fs
ls "mnt/censusmalaga"

path,name,size,modificationTime
dbfs:/mnt/censusmalaga/bronze/,bronze/,0,1711634788000
dbfs:/mnt/censusmalaga/gold/,gold/,0,1711634806000
dbfs:/mnt/censusmalaga/silver/,silver/,0,1711634798000

# 1. READING ALL CSV FILES FROM BRONZE LAYER

In [0]:
census2021 = spark.read.format("csv").option("header","true").option("inferSchema", "true").load("/mnt/censusmalaga/bronze/2021/padronbarrios2021.csv")
census2020 = spark.read.format("csv").option("header","true").option("inferSchema", "true").load("/mnt/censusmalaga/bronze/2020/padronbarrios2020.csv")
census2019 = spark.read.format("csv").option("header","true").option("inferSchema", "true").load("/mnt/censusmalaga/bronze/2019/padronbarrios2019.csv")
census2018 = spark.read.format("csv").option("header","true").option("inferSchema", "true").load("/mnt/censusmalaga/bronze/2018/padronbarrios2018.csv")
countries = spark.read.format("csv").option("header","true").option("inferSchema", "true").load("/mnt/censusmalaga/bronze/countries.csv")
municipality = spark.read.format("csv").option("header","true").option("inferSchema", "true").load("/mnt/censusmalaga/bronze/municipality.csv")
province = spark.read.format("csv").option("header","true").option("inferSchema", "true").load("/mnt/censusmalaga/bronze/province.csv")

## Census2021

In [0]:
census2021.show()
census2021.printSchema()
census2021.count()

+----+----+----+-----+-----+----+------+----+----+
|NHOP|EDAD|SEXO|CPRON|CMUNN|NACI|BARRIO|PRDP|MUDP|
+----+----+----+-----+-----+----+------+----+----+
| 849|  78|   6|   66|  340| 108|    58|   0|   0|
| 938|  47|   1|   29|   67| 108|   517|   0|   0|
| 938|  47|   6|   28|   79| 108|   517|   0|   0|
| 938|  12|   6|   29|   67| 108|   517|   0|   0|
| 818|  37|   6|   29|   67| 108|   517|   0|   0|
| 818|  15|   6|   29|   67| 108|   517|   0|   0|
| 818|  51|   1|   11|   22| 108|   517|   0|   0|
| 818|  55|   6|   18|  140| 108|   517|   0|   0|
| 577|  34|   6|   29|   67| 108|   517|   0|   0|
| 775|  55|   6|   66|  126| 108|   517|   0|   0|
| 775|  33|   1|   29|   67| 108|   517|   0|   0|
| 775|  61|   1|   11|   30| 108|   517|   0|   0|
| 775|  23|   6|   29|   67| 108|   517|   0|   0|
| 653|  71|   6|   29|   67| 108|   517|   0|   0|
| 703|  60|   6|   29|   67| 108|    93|   0|   0|
| 703|  63|   1|   29|   67| 108|    93|   0|   0|
|1153|  50|   6|   29|   67| 108|    58|   0|   0|
|1054|  35|   1|   66|  128| 128|    58|  28| 130|
|1319|  32|   1|   66|  343| 343|    58|  66| 343|
|1319|  42|   6|   66|  343| 343|    58|  66| 343|
+----+----+----+-----+-----+----+------+----+----+
only showing top 20 rows

root
 |-- NHOP: integer (nullable = true)
 |-- EDAD: integer (nullable = true)
 |-- SEXO: integer (nullable = true)
 |-- CPRON: integer (nullable = true)
 |-- CMUNN: integer (nullable = true)
 |-- NACI: integer (nullable = true)
 |-- BARRIO: integer (nullable = true)
 |-- PRDP: integer (nullable = true)
 |-- MUDP: integer (nullable = true)

579984

## Census2020

In [0]:
census2020.show()
census2020.printSchema()
census2020.count()

+----+----+-----+-----+----+------+----+
|NHOP|SEXO|CPRON|CMUNN|NACI|BARRIO|EDAD|
+----+----+-----+-----+----+------+----+
| 125|   6|   29|   67| 108|   513|  17|
| 125|   6|   29|   67| 108|   513|  55|
| 125|   1|   29|   67| 108|   513|  22|
| 124|   6|   29|   67| 108|   513|  81|
| 124|   1|   29|   67| 108|   513|  84|
| 639|   1|   29|   67| 108|   513|  49|
| 639|   6|   29|   67| 108|   513|  46|
| 639|   1|   29|   67| 108|   513|  12|
| 639|   6|   29|   67| 108|   513|  16|
| 843|   1|   29|   67| 108|   513|  56|
| 843|   6|   29|   67| 108|   513|  43|
| 843|   1|   29|   67| 108|   513|  25|
| 180|   1|   29|   67| 108|   522|  65|
| 182|   6|   29|   67| 108|   522|  51|
| 182|   1|   29|   67| 108|   522|  21|
| 182|   1|   29|   67| 108|   522|  15|
| 902|   6|   29|   67| 108|   522|  44|
| 436|   1|   29|   67| 108|   515|  52|
| 436|   6|   29|   67| 108|   515|  46|
| 436|   6|   29|   67| 108|   515|  18|
+----+----+-----+-----+----+------+----+
only showing top 20 rows

root
 |-- NHOP: integer (nullable = true)
 |-- SEXO: integer (nullable = true)
 |-- CPRON: integer (nullable = true)
 |-- CMUNN: integer (nullable = true)
 |-- NACI: integer (nullable = true)
 |-- BARRIO: integer (nullable = true)
 |-- EDAD: integer (nullable = true)

580469

## Census2019

In [0]:
census2019.show()
census2019.printSchema()
census2019.count()

+----+----+----+-----+-----+----+------+
|NHOP|EDAD|SEXO|CPRON|CMUNN|NACI|BARRIO|
+----+----+----+-----+-----+----+------+
| 542|   0|   6|   29|   67| 108|   121|
|1011|   0|   1|   29|   67| 108|   121|
|1227|   0|   1|   29|   67| 407|   121|
|1134|   0|   1|   29|   67| 228|   121|
| 148|  39|   6|   29|   69| 108|   121|
| 693|  77|   1|   29|   72| 108|   121|
|1118|  11|   6|   29|   83| 108|   121|
|1118|   9|   1|   29|   83| 108|   121|
| 137|  64|   6|   29|   90| 108|   121|
|  94|  98|   6|   29|   91| 108|   121|
| 104|  84|   1|   29|   91| 108|   121|
| 104|  78|   6|   29|   91| 108|   121|
|1217|  28|   1|   29|   93| 108|   121|
| 149|  69|   6|   29|   95| 108|   121|
| 809|  44|   6|   29|  901| 108|   121|
| 366|  71|   6|   31|  232| 108|   121|
|  95|  73|   1|   35|   24| 108|   121|
| 352|  76|   6|   37|  173| 108|   121|
| 265|  53|   6|   41|   91| 108|   121|
|1000|  42|   6|   41|   91| 108|   121|
+----+----+----+-----+-----+----+------+
only showing top 20 rows

root
 |-- NHOP: integer (nullable = true)
 |-- EDAD: integer (nullable = true)
 |-- SEXO: integer (nullable = true)
 |-- CPRON: integer (nullable = true)
 |-- CMUNN: integer (nullable = true)
 |-- NACI: integer (nullable = true)
 |-- BARRIO: integer (nullable = true)

576094

## Census2018

In [0]:
census2018.show()
census2018.printSchema()
census2019.count()

+----+----+----+-----+-----+----+------+
|NHOP|EDAD|SEXO|CPRON|CMUNN|NACI|BARRIO|
+----+----+----+-----+-----+----+------+
|   8|  32|   1|   29|   67| 108|   133|
|  12|  26|   6|   29|   67| 108|   133|
|   5|  57|   6|   14|   30| 108|   133|
|  20|  64|   6|   11|   21| 108|   133|
| 318|  49|   1|   23|   50| 108|   133|
| 413|  44|   1|   29|   67| 108|   133|
| 483|  51|   6|   29|   67| 108|   133|
|  47|  82|   1|   42|   35| 108|   133|
|  32|  28|   1|   17|   79| 108|   133|
|  10|  81|   6|   14|   19| 108|   133|
|  16|  72|   1|   66|  228| 108|   133|
|  30|  49|   6|   29|   67| 108|   133|
|  37|  65|   6|   29|   39| 108|   133|
|  37|  63|   1|   29|    9| 108|   133|
|  20|  66|   1|   28|   79| 108|   133|
| 413|  40|   1|   29|   67| 108|   133|
|   9|  50|   1|   46|  250| 108|   133|
|  23|   8|   6|   29|   67| 108|   133|
|  35|  74|   6|   41|   91| 108|   133|
|  23|  11|   1|   29|   67| 108|   133|
+----+----+----+-----+-----+----+------+
only showing top 20 rows

root
 |-- NHOP: integer (nullable = true)
 |-- EDAD: integer (nullable = true)
 |-- SEXO: integer (nullable = true)
 |-- CPRON: integer (nullable = true)
 |-- CMUNN: integer (nullable = true)
 |-- NACI: integer (nullable = true)
 |-- BARRIO: integer (nullable = true)

576094

## Countries

In [0]:
countries.show()
countries.printSchema()
countries.count()

+-------+----+--------------+--------+--------+
|CODPAIS|CTRL|          PAIS|   FALTA|   FBAJA|
+-------+----+--------------+--------+--------+
|    101|   2|       ALBANIA|19000101|99999999|
|    102|   7|       AUSTRIA|19000101|99999999|
|    103|   3|       BÉLGICA|19000101|99999999|
|    104|   8|      BULGARIA|19000101|99999999|
|    105|   1|CHECOSLOVAQUIA|19000101|19940101|
|    106|   4|        CHIPRE|19000101|99999999|
|    107|   0|     DINAMARCA|19000101|99999999|
|    108|   6|        ESPAÑA|19000101|99999999|
|    109|   9|     FINLANDIA|19000101|99999999|
|    110|   3|       FRANCIA|19000101|99999999|
|    111|   0|        GRECIA|19000101|99999999|
|    112|   5|       HUNGRÍA|19000101|99999999|
|    113|   1|       IRLANDA|19000101|99999999|
|    114|   6|      ISLANDIA|19000101|99999999|
|    115|   9|        ITALIA|19000101|99999999|
|    116|   2| LIECHTENSTEIN|19000101|99999999|
|    117|   8|    LUXEMBURGO|19000101|99999999|
|    118|   4|         MALTA|19000101|99999999|
|    119|   7|        MÓNACO|19000101|99999999|
|    120|   1|       NORUEGA|19000101|99999999|
+-------+----+--------------+--------+--------+
only showing top 20 rows

root
 |-- CODPAIS: integer (nullable = true)
 |-- CTRL: integer (nullable = true)
 |-- PAIS: string (nullable = true)
 |-- FALTA: integer (nullable = true)
 |-- FBAJA: string (nullable = true)

221

## Municipality

In [0]:
municipality.show()
municipality.printSchema()
municipality.count()

+----+-----------+---+--------------------+--------+--------+
|PROV|  PROVINCIA|MUN|            MUNICIPO|   FALTA|   FBAJA|
+----+-----------+---+--------------------+--------+--------+
|   1|Araba/Álava|  1|    Alegría-Dulantzi|18331130|99999990|
|   1|Araba/Álava|  2|             Amurrio|18331130|99999990|
|   1|Araba/Álava|  3|             Aramaio|18331130|99999990|
|   1|Araba/Álava|  4|          Artziniega|18331130|99999990|
|   1|Araba/Álava|  6|             Armiñón|18331130|99999990|
|   1|Araba/Álava|  8|  Arrazua-Ubarrundia|18331130|20121010|
|   1|Araba/Álava|  8| Arratzua-Ubarrundia|20121010|99999990|
|   1|Araba/Álava|  9|           Asparrena|18331130|99999990|
|   1|Araba/Álava| 10|         Ayala/Aiara|18331130|99999990|
|   1|Araba/Álava| 11|Baños de Ebro/Mañ...|18331130|99999990|
|   1|Araba/Álava| 13|           Barrundia|18331130|99999990|
|   1|Araba/Álava| 14|        Berantevilla|18331130|99999990|
|   1|Araba/Álava| 16|             Bernedo|18331130|99999990|
|   1|Araba/Álava| 17|     Campezo/Kanpezu|18331130|99999990|
|   1|Araba/Álava| 18|            Zigoitia|18331130|99999990|
|   1|Araba/Álava| 19|              Kripan|18331130|99999990|
|   1|Araba/Álava| 20|           Kuartango|18331130|99999990|
|   1|Araba/Álava| 21|     Elburgo/Burgelu|18331130|99999990|
|   1|Araba/Álava| 22|             Elciego|18331130|99999990|
|   1|Araba/Álava| 23|      Elvillar/Bilar|18331130|99999990|
+----+-----------+---+--------------------+--------+--------+
only showing top 20 rows

root
 |-- PROV: integer (nullable = true)
 |-- PROVINCIA: string (nullable = true)
 |-- MUN: integer (nullable = true)
 |-- MUNICIPO: string (nullable = true)
 |-- FALTA: integer (nullable = true)
 |-- FBAJA: integer (nullable = true)

8296

## Province

In [0]:
province.show()
province.printSchema()
province.count()

+---+-----+-----+--------------------+
| CA|CPROV|CCAPP|          NOMBREPROV|
+---+-----+-----+--------------------+
|  1|   11|   12|               Cádiz|
|  1|   14|   21|             Córdoba|
|  1|   18|   87|             Granada|
|  1|   21|   41|              Huelva|
|  1|   23|   50|                Jaén|
|  1|   29|   67|              Málaga|
|  1|   41|   91|             Sevilla|
|  2|   22|  125|              Huesca|
|  2|   44|  216|              Teruel|
|  2|   50|  297|            Zaragoza|
|  3|   33|   44|            Asturias|
|  4|    7|   40|      Islas Baleares|
|  5|    1|   59|               Álava|
|  5|   20|   69|           Guipúzcoa|
|  5|   48|   20|             Vizcaya|
|  6|   38|   38|Santa Cruz de Ten...|
|  6|   35|   16|          Las Palmas|
|  7|   39|   75|           Cantabria|
|  8|    2|    3|            Albacete|
|  8|   13|   34|         Ciudad Real|
+---+-----+-----+--------------------+
only showing top 20 rows

root
 |-- CA: string (nullable = true)
 |-- CPROV: integer (nullable = true)
 |-- CCAPP: integer (nullable = true)
 |-- NOMBREPROV: string (nullable = true)

54

# 2. TRANSFORMATIONS

## Imports

In [0]:
from pyspark.sql import functions as F
from pyspark.sql.functions import lit, col
from pyspark.sql.types import IntegerType
from pyspark.sql.functions import split, col
from functools import reduce
from pyspark.sql import DataFrame

## Countries Transformations

In [0]:
df_countries = countries.withColumnRenamed("CODPAIS", "CountryCode")\
                           .withColumnRenamed("CTRL", "Control")\
                           .withColumnRenamed("PAIS", "CountryName")\
                           .drop("FALTA", "FBAJA")\
                           .fillna('null')


df_countries.show()
df_countries.printSchema()
df_countries.count()

+-----------+-------+--------------+
|CountryCode|Control|   CountryName|
+-----------+-------+--------------+
|        101|      2|       ALBANIA|
|        102|      7|       AUSTRIA|
|        103|      3|       BÉLGICA|
|        104|      8|      BULGARIA|
|        105|      1|CHECOSLOVAQUIA|
|        106|      4|        CHIPRE|
|        107|      0|     DINAMARCA|
|        108|      6|        ESPAÑA|
|        109|      9|     FINLANDIA|
|        110|      3|       FRANCIA|
|        111|      0|        GRECIA|
|        112|      5|       HUNGRÍA|
|        113|      1|       IRLANDA|
|        114|      6|      ISLANDIA|
|        115|      9|        ITALIA|
|        116|      2| LIECHTENSTEIN|
|        117|      8|    LUXEMBURGO|
|        118|      4|         MALTA|
|        119|      7|        MÓNACO|
|        120|      1|       NORUEGA|
+-----------+-------+--------------+
only showing top 20 rows

root
 |-- CountryCode: integer (nullable = true)
 |-- Control: integer (nullable = true)
 |-- CountryName: string (nullable = false)

221

## Municipality Transformations

In [0]:
from pyspark.sql.functions import col, split, when

df_municipalities = municipality \
    .withColumnRenamed("PROV", "ProvinceCode") \
    .withColumnRenamed("PROVINCIA", "ProvinceName") \
    .withColumnRenamed("MUN", "MunicipalityCode") \
    .withColumnRenamed("MUNICIPO", "MunicipalityName") \
    .drop("FALTA", "FBAJA") \
    .fillna('null') \
    .withColumn("MunicipalityName", split(col("MunicipalityName"), "/").getItem(0)) \
    .withColumn("ProvinceName",
                 when(col("ProvinceName") == "Valencia/València", split(col("ProvinceName"), "/").getItem(0))
                 .when(col("ProvinceName") == "Santa Cruz de Tenerife", "Tenerife")
                 .when(col("ProvinceName") == "Rioja, La", "La Rioja")
                 .when(col("ProvinceName") == "Coruña, A", "Coruña (A)")
                 .when(col("ProvinceName") == "Castellón/Castelló", split(col("ProvinceName"), "/").getItem(0))
                 .when(col("ProvinceName") == "Alicante/Alacant", split(col("ProvinceName"), "/").getItem(0))
                 .when(col("ProvinceName") == "Araba/Álava", split(col("ProvinceName"), "/").getItem(1))
                 .when(col("ProvinceName") == "Gipuzkoa", "Guipúzcoa")
                 .when(col("ProvinceName") == "Bizkaia", "Vizcaya")
                 .when(col("ProvinceName") == "Palmas, Las", "Las Palmas")
                 .when(col("ProvinceName") == "Balears, Illes", "Islas Baleares")
                 .when(col("MunicipalityName") == "Arratzua-Ubarrundia", "Arrazua-Ubarrundia")
                 .when(col("MunicipalityName") == "Urduña-Orduña", "Urduña")
                 .when(col("MunicipalityName") == "Urduña", "Urduña")
                 .when(col("MunicipalityName") == "Xaló", "Jalón")
                 .when(col("MunicipalityName") == "Maó-Mahón", "Mahón")
                 .when(col("MunicipalityName") == "Maó", "Mahón")
                 .when(col("MunicipalityName") == "Valle de Egüés", "Egüés") # AND MANY MANY MORE....
                 .otherwise(col("ProvinceName")))

df_municipalities.show()
df_municipalities.printSchema()
df_municipalities.count()

+------------+------------+----------------+-------------------+
|ProvinceCode|ProvinceName|MunicipalityCode|   MunicipalityName|
+------------+------------+----------------+-------------------+
|           1|       Álava|               1|   Alegría-Dulantzi|
|           1|       Álava|               2|            Amurrio|
|           1|       Álava|               3|            Aramaio|
|           1|       Álava|               4|         Artziniega|
|           1|       Álava|               6|            Armiñón|
|           1|       Álava|               8| Arrazua-Ubarrundia|
|           1|       Álava|               8|Arratzua-Ubarrundia|
|           1|       Álava|               9|          Asparrena|
|           1|       Álava|              10|              Ayala|
|           1|       Álava|              11|      Baños de Ebro|
|           1|       Álava|              13|          Barrundia|
|           1|       Álava|              14|       Berantevilla|
|           1|       Álava|              16|            Bernedo|
|           1|       Álava|              17|            Campezo|
|           1|       Álava|              18|           Zigoitia|
|           1|       Álava|              19|             Kripan|
|           1|       Álava|              20|          Kuartango|
|           1|       Álava|              21|            Elburgo|
|           1|       Álava|              22|            Elciego|
|           1|       Álava|              23|           Elvillar|
+------------+------------+----------------+-------------------+
only showing top 20 rows

root
 |-- ProvinceCode: integer (nullable = true)
 |-- ProvinceName: string (nullable = true)
 |-- MunicipalityCode: integer (nullable = true)
 |-- MunicipalityName: string (nullable = true)

8296

### Exploring Duplicates

In [0]:

from pyspark.sql.functions import count, lit

df_municipalities.groupBy("ProvinceCode", "MunicipalityCode") \
    .agg(count(lit(1)).alias("count")) \
    .filter("count > 1") \
    .orderBy("count", ascending=False) \
    .show()

+------------+----------------+-----+
|ProvinceCode|MunicipalityCode|count|
+------------+----------------+-----+
|          48|              74|    3|
|           7|              32|    3|
|           3|              77|    3|
|          31|              86|    3|
|          46|             257|    3|
|           7|              40|    3|
|          20|              24|    3|
|          46|             222|    3|
|           3|              81|    2|
|          20|              55|    2|
|          31|             202|    2|
|          22|             246|    2|
|           3|               1|    2|
|          31|             245|    2|
|          31|               2|    2|
|           1|              46|    2|
|           3|             110|    2|
|          48|              29|    2|
|           3|             135|    2|
|          23|              86|    2|
+------------+----------------+-----+
only showing top 20 rows

In [0]:
df_municipalities.filter((col("ProvinceCode") == 31) & (col("MunicipalityCode") == 86)).show(truncate=False)

+------------+------------+----------------+----------------+
|ProvinceCode|ProvinceName|MunicipalityCode|MunicipalityName|
+------------+------------+----------------+----------------+
|31          |Navarra     |86              |Egüés           |
|31          |Navarra     |86              |Valle de Egüés  |
|31          |Navarra     |86              |Valle de Egüés  |
+------------+------------+----------------+----------------+

In [0]:
df_municipalities.groupBy("MunicipalityCode").agg(count(lit(1)).alias("count")).filter("count > 1").show()

+----------------+-----+
|MunicipalityCode|count|
+----------------+-----+
|             148|   24|
|             243|   15|
|              31|   46|
|              85|   34|
|             137|   23|
|             251|   13|
|              65|   42|
|              53|   45|
|             255|   11|
|             133|   25|
|             296|    4|
|              78|   37|
|             322|    2|
|             321|    3|
|             362|    2|
|             375|    2|
|             108|   23|
|             155|   25|
|              34|   49|
|             193|   21|
+----------------+-----+
only showing top 20 rows

In [0]:
df_municipalities.filter((col("MunicipalityCode") == 148)).show(truncate=False)

+------------+------------+----------------+--------------------+
|ProvinceCode|ProvinceName|MunicipalityCode|MunicipalityName    |
+------------+------------+----------------+--------------------+
|5           |Ávila       |148             |Narros del Puerto   |
|6           |Badajoz     |148             |Valle de Santa Ana  |
|8           |Barcelona   |148             |Olivella            |
|9           |Burgos      |148             |Grijalba            |
|10          |Cáceres     |148             |Plasencia           |
|16          |Cuenca      |148             |Palomares del Campo |
|17          |Girona      |148             |Riudarenes          |
|18          |Granada     |148             |Otívar              |
|19          |Guadalajara |148             |Huertahernando      |
|24          |León        |148             |San Justo de la Vega|
|25          |Lleida      |148             |Odèn                |
|26          |La Rioja    |148             |Tirgo               |
|28          |Madrid      |148             |Torrejón de Ardoz   |
|31          |Navarra     |148             |Legaria             |
|37          |Salamanca   |148             |Garcihernández      |
|40          |Segovia     |148             |Nieva               |
|42          |Soria       |148             |Quiñonería          |
|43          |Tarragona   |148             |Tarragona           |
|44          |Teruel      |148             |Mezquita de Jarque  |
|45          |Toledo      |148             |Robledo del Mazo    |
+------------+------------+----------------+--------------------+
only showing top 20 rows

## Province Transformations

In [0]:
df_provinces = province.withColumnRenamed("CPROV", "ProvinceCode")\
                           .withColumnRenamed("NOMBREPROV", "Province")\
                           .fillna('null')\
                           .drop("CCAPP", "CA")

df_provinces.show()
df_provinces.printSchema()
df_provinces.count()

+------------+--------------------+
|ProvinceCode|            Province|
+------------+--------------------+
|          11|               Cádiz|
|          14|             Córdoba|
|          18|             Granada|
|          21|              Huelva|
|          23|                Jaén|
|          29|              Málaga|
|          41|             Sevilla|
|          22|              Huesca|
|          44|              Teruel|
|          50|            Zaragoza|
|          33|            Asturias|
|           7|      Islas Baleares|
|           1|               Álava|
|          20|           Guipúzcoa|
|          48|             Vizcaya|
|          38|Santa Cruz de Ten...|
|          35|          Las Palmas|
|          39|           Cantabria|
|           2|            Albacete|
|          13|         Ciudad Real|
+------------+--------------------+
only showing top 20 rows

root
 |-- ProvinceCode: integer (nullable = true)
 |-- Province: string (nullable = false)

54

## Census2021 Transformations

In [0]:

df_census2021 = census2021.withColumnRenamed("NHOP", "SheetNumber")\
       .withColumnRenamed("EDAD", "Age")\
       .withColumnRenamed("SEXO", "Sex")\
       .withColumnRenamed("CPRON", "ProvinceCode")\
       .withColumnRenamed("CMUNN", "MunicipalityCode")\
       .withColumnRenamed("NACI", "BirthCountry")\
       .withColumnRenamed("BARRIO", "DistrictNumber")\
       .withColumn("YearOfBirth", (lit(2021) - col("Age").cast(IntegerType())))\
       .drop("PRDP", "MUDP")\
       .withColumn("censusYear", lit(2021))


df_census2021 = df_census2021.withColumn("SexDescription", F.when(F.col("Sex") == 1, "Male").when(F.col("Sex") == 6, "Female").otherwise("Unknown"))


for column in df_census2021.columns:
    df_census2021 = df_census2021.fillna('null', subset=[column])


df_census2021.printSchema()


df_census2021.show()
df_census2021.count()

root
 |-- SheetNumber: integer (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Sex: integer (nullable = true)
 |-- ProvinceCode: integer (nullable = true)
 |-- MunicipalityCode: integer (nullable = true)
 |-- BirthCountry: integer (nullable = true)
 |-- DistrictNumber: integer (nullable = true)
 |-- YearOfBirth: integer (nullable = true)
 |-- censusYear: integer (nullable = false)
 |-- SexDescription: string (nullable = false)

+-----------+---+---+------------+----------------+------------+--------------+-----------+----------+--------------+
|SheetNumber|Age|Sex|ProvinceCode|MunicipalityCode|BirthCountry|DistrictNumber|YearOfBirth|censusYear|SexDescription|
+-----------+---+---+------------+----------------+------------+--------------+-----------+----------+--------------+
|        849| 78|  6|          66|             340|         108|            58|       1943|      2021|        Female|
|        938| 47|  1|          29|              67|         108|           517|       1974|      2021|          Male|
|        938| 47|  6|          28|              79|         108|           517|       1974|      2021|        Female|
|        938| 12|  6|          29|              67|         108|           517|       2009|      2021|        Female|
|        818| 37|  6|          29|              67|         108|           517|       1984|      2021|        Female|
|        818| 15|  6|          29|              67|         108|           517|       2006|      2021|        Female|
|        818| 51|  1|          11|              22|         108|           517|       1970|      2021|          Male|
|        818| 55|  6|          18|             140|         108|           517|       1966|      2021|        Female|
|        577| 34|  6|          29|              67|         108|           517|       1987|      2021|        Female|
|        775| 55|  6|          66|             126|         108|           517|       1966|      2021|        Female|
|        775| 33|  1|          29|              67|         108|           517|       1988|      2021|          Male|
|        775| 61|  1|          11|              30|         108|           517|       1960|      2021|          Male|
|        775| 23|  6|          29|              67|         108|           517|       1998|      2021|        Female|
|        653| 71|  6|          29|              67|         108|           517|       1950|      2021|        Female|
|        703| 60|  6|          29|              67|         108|            93|       1961|      2021|        Female|
|        703| 63|  1|          29|              67|         108|            93|       1958|      2021|          Male|
|       1153| 50|  6|          29|              67|         108|            58|       1971|      2021|        Female|
|       1054| 35|  1|          66|             128|         128|            58|       1986|      2021|          Male|
|       1319| 32|  1|          66|             343|         343|            58|       1989|      2021|          Male|
|       1319| 42|  6|          66|             343|         343|            58|       1979|      2021|        Female|
+-----------+---+---+------------+----------------+------------+--------------+-----------+----------+--------------+
only showing top 20 rows

579984

### Join df_census2021 + countries + provinces + municipalities

In [0]:
# This code is not correct it triplicates the table rows!

## Unión con el dataframe de países
#df_full_census2021 = df_census2021.join(df_countries, df_census2021["BirthCountry"] == df_countries["CountryCode"], "left_outer") \
#                                        .drop(df_countries["CountryCode"])
#
#df_full_census2021 = df_full_census2021.join(df_provinces, (df_full_census2021["ProvinceCode"] == df_provinces["ProvinceCode"]), "left_outer") \
#                                       .drop(df_provinces["ProvinceCode"])\
#                                       .drop(df_full_census2021["ProvinceCode"])
#
## Unión con el dataframe de municipios
#df_full_census2021 = df_full_census2021.join(df_municipalities, (df_full_census2021["MunicipalityCode"] == df_municipalities["MunicipalityCode"]), #"left_outer")\
#    .drop(df_municipalities["MunicipalityCode"])
#
#
#df_full_census2021.show(n=50, truncate=False)
#
#df_full_census2021.printSchema()
#df_full_census2021.count()

+-----------+---+---+----------------+------------+--------------+-----------+----------+--------------+-------+-----------+-----------+------------+------------+--------------------------+
|SheetNumber|Age|Sex|MunicipalityCode|BirthCountry|DistrictNumber|YearOfBirth|censusYear|SexDescription|Control|CountryName|Province   |ProvinceCode|ProvinceName|MunicipalityName          |
+-----------+---+---+----------------+------------+--------------+-----------+----------+--------------+-------+-----------+-----------+------------+------------+--------------------------+
|849        |78 |6  |340             |108         |58            |1943       |2021      |Female        |6      |ESPAÑA     |Extranjeros|37          |Salamanca   |Valsalabroso              |
|849        |78 |6  |340             |108         |58            |1943       |2021      |Female        |6      |ESPAÑA     |Extranjeros|9           |Burgos      |San Millán de Lara        |
|938        |47 |1  |67              |108         |517           |1974       |2021      |Male          |6      |ESPAÑA     |Málaga     |50          |Zaragoza    |Calatayud                 |
|938        |47 |1  |67              |108         |517           |1974       |2021      |Male          |6      |ESPAÑA     |Málaga     |49          |Zamora      |Ferreras de Arriba        |
|938        |47 |1  |67              |108         |517           |1974       |2021      |Male          |6      |ESPAÑA     |Málaga     |48          |Vizcaya     |Muxika                    |
|938        |47 |1  |67              |108         |517           |1974       |2021      |Male          |6      |ESPAÑA     |Málaga     |47          |Valladolid  |Fuente el Sol             |
|938        |47 |1  |67              |108         |517           |1974       |2021      |Male          |6      |ESPAÑA     |Málaga     |46          |Valencia    |Benisanó                  |
|938        |47 |1  |67              |108         |517           |1974       |2021      |Male          |6      |ESPAÑA     |Málaga     |45          |Toledo      |Gálvez                    |
|938        |47 |1  |67              |108         |517           |1974       |2021      |Male          |6      |ESPAÑA     |Málaga     |44          |Teruel      |Castelnou                 |
|938        |47 |1  |67              |108         |517           |1974       |2021      |Male          |6      |ESPAÑA     |Málaga     |43          |Tarragona   |Ginestar                  |
|938        |47 |1  |67              |108         |517           |1974       |2021      |Male          |6      |ESPAÑA     |Málaga     |41          |Sevilla     |Olivares                  |
|938        |47 |1  |67              |108         |517           |1974       |2021      |Male          |6      |ESPAÑA     |Málaga     |39          |Cantabria   |Ruesga                    |
|938        |47 |1  |67              |108         |517           |1974       |2021      |Male          |6      |ESPAÑA     |Málaga     |37          |Salamanca   |Cabrerizos                |
|938        |47 |1  |67              |108         |517           |1974       |2021      |Male          |6      |ESPAÑA     |Málaga     |34          |Palencia    |Dehesa de Montejo         |
|938        |47 |1  |67              |108         |517           |1974       |2021      |Male          |6      |ESPAÑA     |Málaga     |33          |Asturias    |Sobrescobio               |
|938        |47 |1  |67              |108         |517           |1974       |2021      |Male          |6      |ESPAÑA     |Málaga     |32          |Ourense     |Rairiz de Veiga           |
|938        |47 |1  |67              |108         |517           |1974       |2021      |Male          |6      |ESPAÑA     |Málaga     |31          |Navarra     |Carcastillo               |
|938        |47 |1  |67              |108         |517           |1974       |2021      |Male          |6      |ESPAÑA     |Málaga     |29          |Málaga      |Málaga                    |
|938        |47 |1  |67              |108         |517           |1974       |2021      |Male          |6      |ESPAÑA     |Málaga     |28          |Madrid      |Guadalix de la Sierra     |
|938        |47 |1  |67              |108         |517           |1974       |2021      |Male          |6      |ESPAÑA     |Málaga     |26          |La Rioja    |Gallinero de Cameros      |
|938        |47 |1  |67              |108         |517           |1974       |2021      |Male          |6      |ESPAÑA     |Málaga     |25          |Lleida      |Castelldans               |
|938        |47 |1  |67              |108         |517           |1974       |2021      |Male          |6      |ESPAÑA     |Málaga     |24          |León        |Encinedo                  |
|938        |47 |1  |67              |108         |517           |1974       |2021      |Male          |6      |ESPAÑA     |Málaga     |23          |Jaén        |Pegalajar                 |
|938        |47 |1  |67              |108         |517           |1974       |2021      |Male          |6      |ESPAÑA     |Málaga     |22          |Huesca      |Bonansa                   |
|938        |47 |1  |67              |108         |517           |1974       |2021      |Male          |6      |ESPAÑA     |Málaga     |21          |Huelva      |Santa Ana la Real         |
|938        |47 |1  |67              |108         |517           |1974       |2021      |Male          |6      |ESPAÑA     |Málaga     |20          |Guipúzcoa   |Errenteria                |
|938        |47 |1  |67              |108         |517           |1974       |2021      |Male          |6      |ESPAÑA     |Málaga     |19          |Guadalajara |Cardoso de la Sierra, El  |
|938        |47 |1  |67              |108         |517           |1974       |2021      |Male          |6      |ESPAÑA     |Málaga     |18          |Granada     |Diezma                    |
|938        |47 |1  |67              |108         |517           |1974       |2021      |Male          |6      |ESPAÑA     |Málaga     |17          |Girona      |Flaçà                     |
|938        |47 |1  |67              |108         |517           |1974       |2021      |Male          |6      |ESPAÑA     |Málaga     |16          |Cuenca      |Castejón                  |
|938        |47 |1  |67              |108         |517           |1974       |2021      |Male          |6      |ESPAÑA     |Málaga     |15          |Coruña (A)  |Pobra do Caramiñal, A     |
|938        |47 |1  |67              |108         |517           |1974       |2021      |Male          |6      |ESPAÑA     |Málaga     |14          |Córdoba     |Villafranca de Córdoba    |
|938        |47 |1  |67              |108         |517           |1974       |2021      |Male          |6      |ESPAÑA     |Málaga     |13          |Ciudad Real |Pozuelos de Calatrava, Los|
|938        |47 |1  |67              |108         |517           |1974       |2021      |Male          |6      |ESPAÑA     |Málaga     |12          |Castellón   |Geldo                     |
|938        |47 |1  |67              |108         |517           |1974       |2021      |Male          |6      |ESPAÑA     |Málaga     |10          |Cáceres     |Coria                     |
|938        |47 |1  |67              |108         |517           |1974       |2021      |Male          |6      |ESPAÑA     |Málaga     |9           |Burgos      |Canicosa de la Sierra     |
|938        |47 |1  |67              |108         |517           |1974       |2021      |Male          |6      |ESPAÑA     |Málaga     |8           |Barcelona   |Centelles                 |
|938        |47 |1  |67              |108         |517           |1974       |2021      |Male          |6      |ESPAÑA     |Málaga     |6           |Badajoz     |Higuera la Real           |
|938        |47 |1  |67              |108         |517           |1974       |2021      |Male          |6      |ESPAÑA     |Málaga     |5           |Ávila       |Chamartín                 |
|938        |47 |1  |67              |108         |517           |1974       |2021      |Male          |6      |ESPAÑA     |Málaga     |4           |Almería     |Ohanes                    |
|938        |47 |1  |67              |108         |517           |1974       |2021      |Male          |6      |ESPAÑA     |Málaga     |3           |Alicante    |Facheca                   |
|938        |47 |1  |67              |108         |517           |1974       |2021      |Male          |6      |ESPAÑA     |Málaga     |2           |Albacete    |Riópar                    |
|938        |47 |6  |79              |108         |517           |1974       |2021      |Female        |6      |ESPAÑA     |Madrid     |50          |Zaragoza    |Cervera de la Cañada      |
|938        |47 |6  |79              |108         |517           |1974       |2021      |Female        |6      |ESPAÑA     |Madrid     |49          |Zamora      |Fuente Encalada           |
|938        |47 |6  |79              |108         |517           |1974       |2021      |Female        |6      |ESPAÑA     |Madrid     |48          |Vizcaya     |Errigoiti                 |
|938        |47 |6  |79              |108         |517           |1974       |2021      |Female        |6      |ESPAÑA     |Madrid     |47          |Valladolid  |Llano de Olmedo           |
|938        |47 |6  |79              |108         |517           |1974       |2021      |Female        |6      |ESPAÑA     |Madrid     |46          |Valencia    |Calles                    |
|938        |47 |6  |79              |108         |517           |1974       |2021      |Female        |6      |ESPAÑA     |Madrid     |45          |Toledo      |Iglesuela, La             |
|938        |47 |6  |79              |108         |517           |1974       |2021      |Female        |6      |ESPAÑA     |Madrid     |43          |Tarragona   |Masllorenç                |
|938        |47 |6  |79              |108         |517           |1974       |2021      |Female        |6      |ESPAÑA     |Madrid     |42          |Soria       |Escobosa de Almazán       |
+-----------+---+---+----------------+------------+--------------+-----------+----------+--------------+-------+-----------+-----------+------------+------------+--------------------------+
only showing top 50 rows

root
 |-- SheetNumber: integer (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Sex: integer (nullable = true)
 |-- MunicipalityCode: integer (nullable = true)
 |-- BirthCountry: integer (nullable = true)
 |-- DistrictNumber: integer (nullable = true)
 |-- YearOfBirth: integer (nullable = true)
 |-- censusYear: integer (nullable = false)
 |-- SexDescription: string (nullable = false)
 |-- Control: integer (nullable = true)
 |-- CountryName: string (nullable = true)
 |-- Province: string (nullable = true)
 |-- ProvinceCode: integer (nullable = true)
 |-- ProvinceName: string (nullable = true)
 |-- MunicipalityName: string (nullable = true)

21348841

In [0]:
df_census2021 = df_census2021.join(df_countries, df_census2021["BirthCountry"] == df_countries["CountryCode"], "left_outer") \
                             .drop(df_countries["CountryCode"]) \
                             .withColumnRenamed("CountryName", "BirthCountryName")

df_census2021.show()
df_census2021.printSchema()
df_census2021.count()

+-----------+---+---+------------+----------------+------------+--------------+-----------+----------+--------------+-------+----------------+
|SheetNumber|Age|Sex|ProvinceCode|MunicipalityCode|BirthCountry|DistrictNumber|YearOfBirth|censusYear|SexDescription|Control|BirthCountryName|
+-----------+---+---+------------+----------------+------------+--------------+-----------+----------+--------------+-------+----------------+
|        849| 78|  6|          66|             340|         108|            58|       1943|      2021|        Female|      6|          ESPAÑA|
|        938| 47|  1|          29|              67|         108|           517|       1974|      2021|          Male|      6|          ESPAÑA|
|        938| 47|  6|          28|              79|         108|           517|       1974|      2021|        Female|      6|          ESPAÑA|
|        938| 12|  6|          29|              67|         108|           517|       2009|      2021|        Female|      6|          ESPAÑA|
|        818| 37|  6|          29|              67|         108|           517|       1984|      2021|        Female|      6|          ESPAÑA|
|        818| 15|  6|          29|              67|         108|           517|       2006|      2021|        Female|      6|          ESPAÑA|
|        818| 51|  1|          11|              22|         108|           517|       1970|      2021|          Male|      6|          ESPAÑA|
|        818| 55|  6|          18|             140|         108|           517|       1966|      2021|        Female|      6|          ESPAÑA|
|        577| 34|  6|          29|              67|         108|           517|       1987|      2021|        Female|      6|          ESPAÑA|
|        775| 55|  6|          66|             126|         108|           517|       1966|      2021|        Female|      6|          ESPAÑA|
|        775| 33|  1|          29|              67|         108|           517|       1988|      2021|          Male|      6|          ESPAÑA|
|        775| 61|  1|          11|              30|         108|           517|       1960|      2021|          Male|      6|          ESPAÑA|
|        775| 23|  6|          29|              67|         108|           517|       1998|      2021|        Female|      6|          ESPAÑA|
|        653| 71|  6|          29|              67|         108|           517|       1950|      2021|        Female|      6|          ESPAÑA|
|        703| 60|  6|          29|              67|         108|            93|       1961|      2021|        Female|      6|          ESPAÑA|
|        703| 63|  1|          29|              67|         108|            93|       1958|      2021|          Male|      6|          ESPAÑA|
|       1153| 50|  6|          29|              67|         108|            58|       1971|      2021|        Female|      6|          ESPAÑA|
|       1054| 35|  1|          66|             128|         128|            58|       1986|      2021|          Male|      2|         RUMANÍA|
|       1319| 32|  1|          66|             343|         343|            58|       1989|      2021|          Male|      3|        COLOMBIA|
|       1319| 42|  6|          66|             343|         343|            58|       1979|      2021|        Female|      3|        COLOMBIA|
+-----------+---+---+------------+----------------+------------+--------------+-----------+----------+--------------+-------+----------------+
only showing top 20 rows

root
 |-- SheetNumber: integer (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Sex: integer (nullable = true)
 |-- ProvinceCode: integer (nullable = true)
 |-- MunicipalityCode: integer (nullable = true)
 |-- BirthCountry: integer (nullable = true)
 |-- DistrictNumber: integer (nullable = true)
 |-- YearOfBirth: integer (nullable = true)
 |-- censusYear: integer (nullable = false)
 |-- SexDescription: string (nullable = false)
 |-- Control: integer (nullable = true)
 |-- BirthCountryName: string (nullable = true)

580171

In [0]:
df_census2021 = df_census2021.join(df_provinces, df_census2021["ProvinceCode"] == df_provinces["ProvinceCode"], "left_outer") \
                             .drop(df_provinces["ProvinceCode"]) \
                             .withColumnRenamed("ProvinceName", "ProvinceName")

df_census2021.show()
df_census2021.printSchema()
df_census2021.count()

+-----------+---+---+------------+----------------+------------+--------------+-----------+----------+--------------+-------+----------------+-----------+
|SheetNumber|Age|Sex|ProvinceCode|MunicipalityCode|BirthCountry|DistrictNumber|YearOfBirth|censusYear|SexDescription|Control|BirthCountryName|   Province|
+-----------+---+---+------------+----------------+------------+--------------+-----------+----------+--------------+-------+----------------+-----------+
|        849| 78|  6|          66|             340|         108|            58|       1943|      2021|        Female|      6|          ESPAÑA|Extranjeros|
|        938| 47|  1|          29|              67|         108|           517|       1974|      2021|          Male|      6|          ESPAÑA|     Málaga|
|        938| 47|  6|          28|              79|         108|           517|       1974|      2021|        Female|      6|          ESPAÑA|     Madrid|
|        938| 12|  6|          29|              67|         108|           517|       2009|      2021|        Female|      6|          ESPAÑA|     Málaga|
|        818| 37|  6|          29|              67|         108|           517|       1984|      2021|        Female|      6|          ESPAÑA|     Málaga|
|        818| 15|  6|          29|              67|         108|           517|       2006|      2021|        Female|      6|          ESPAÑA|     Málaga|
|        818| 51|  1|          11|              22|         108|           517|       1970|      2021|          Male|      6|          ESPAÑA|      Cádiz|
|        818| 55|  6|          18|             140|         108|           517|       1966|      2021|        Female|      6|          ESPAÑA|    Granada|
|        577| 34|  6|          29|              67|         108|           517|       1987|      2021|        Female|      6|          ESPAÑA|     Málaga|
|        775| 55|  6|          66|             126|         108|           517|       1966|      2021|        Female|      6|          ESPAÑA|Extranjeros|
|        775| 33|  1|          29|              67|         108|           517|       1988|      2021|          Male|      6|          ESPAÑA|     Málaga|
|        775| 61|  1|          11|              30|         108|           517|       1960|      2021|          Male|      6|          ESPAÑA|      Cádiz|
|        775| 23|  6|          29|              67|         108|           517|       1998|      2021|        Female|      6|          ESPAÑA|     Málaga|
|        653| 71|  6|          29|              67|         108|           517|       1950|      2021|        Female|      6|          ESPAÑA|     Málaga|
|        703| 60|  6|          29|              67|         108|            93|       1961|      2021|        Female|      6|          ESPAÑA|     Málaga|
|        703| 63|  1|          29|              67|         108|            93|       1958|      2021|          Male|      6|          ESPAÑA|     Málaga|
|       1153| 50|  6|          29|              67|         108|            58|       1971|      2021|        Female|      6|          ESPAÑA|     Málaga|
|       1054| 35|  1|          66|             128|         128|            58|       1986|      2021|          Male|      2|         RUMANÍA|Extranjeros|
|       1319| 32|  1|          66|             343|         343|            58|       1989|      2021|          Male|      3|        COLOMBIA|Extranjeros|
|       1319| 42|  6|          66|             343|         343|            58|       1979|      2021|        Female|      3|        COLOMBIA|Extranjeros|
+-----------+---+---+------------+----------------+------------+--------------+-----------+----------+--------------+-------+----------------+-----------+
only showing top 20 rows

root
 |-- SheetNumber: integer (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Sex: integer (nullable = true)
 |-- ProvinceCode: integer (nullable = true)
 |-- MunicipalityCode: integer (nullable = true)
 |-- BirthCountry: integer (nullable = true)
 |-- DistrictNumber: integer (nullable = true)
 |-- YearOfBirth: integer (nullable = true)
 |-- censusYear: integer (nullable = false)
 |-- SexDescription: string (nullable = false)
 |-- Control: integer (nullable = true)
 |-- BirthCountryName: string (nullable = true)
 |-- Province: string (nullable = true)

580171

In [0]:
df_census2021 = df_census2021.join(df_municipalities, (df_census2021["MunicipalityCode"] == df_municipalities["MunicipalityCode"]) & (df_census2021["ProvinceCode"] == df_municipalities["ProvinceCode"]), "left_outer") \
                             .drop(df_municipalities["MunicipalityCode"]) \
                             .drop(df_municipalities["ProvinceCode"]) \
                             .withColumnRenamed("MunicipalityName", "MunicipalityName")



df_census2021.show()
df_census2021.printSchema()
df_census2021.count()

+-----------+---+---+------------+----------------+------------+--------------+-----------+----------+--------------+-------+----------------+-----------+------------+--------------------+
|SheetNumber|Age|Sex|ProvinceCode|MunicipalityCode|BirthCountry|DistrictNumber|YearOfBirth|censusYear|SexDescription|Control|BirthCountryName|   Province|ProvinceName|    MunicipalityName|
+-----------+---+---+------------+----------------+------------+--------------+-----------+----------+--------------+-------+----------------+-----------+------------+--------------------+
|        849| 78|  6|          66|             340|         108|            58|       1943|      2021|        Female|      6|          ESPAÑA|Extranjeros|        NULL|                NULL|
|        938| 47|  1|          29|              67|         108|           517|       1974|      2021|          Male|      6|          ESPAÑA|     Málaga|      Málaga|              Málaga|
|        938| 47|  6|          28|              79|         108|           517|       1974|      2021|        Female|      6|          ESPAÑA|     Madrid|      Madrid|              Madrid|
|        938| 12|  6|          29|              67|         108|           517|       2009|      2021|        Female|      6|          ESPAÑA|     Málaga|      Málaga|              Málaga|
|        818| 37|  6|          29|              67|         108|           517|       1984|      2021|        Female|      6|          ESPAÑA|     Málaga|      Málaga|              Málaga|
|        818| 15|  6|          29|              67|         108|           517|       2006|      2021|        Female|      6|          ESPAÑA|     Málaga|      Málaga|              Málaga|
|        818| 51|  1|          11|              22|         108|           517|       1970|      2021|          Male|      6|          ESPAÑA|      Cádiz|       Cádiz|Línea de la Conce...|
|        818| 55|  6|          18|             140|         108|           517|       1966|      2021|        Female|      6|          ESPAÑA|    Granada|     Granada|              Motril|
|        577| 34|  6|          29|              67|         108|           517|       1987|      2021|        Female|      6|          ESPAÑA|     Málaga|      Málaga|              Málaga|
|        775| 55|  6|          66|             126|         108|           517|       1966|      2021|        Female|      6|          ESPAÑA|Extranjeros|        NULL|                NULL|
|        775| 33|  1|          29|              67|         108|           517|       1988|      2021|          Male|      6|          ESPAÑA|     Málaga|      Málaga|              Málaga|
|        775| 61|  1|          11|              30|         108|           517|       1960|      2021|          Male|      6|          ESPAÑA|      Cádiz|       Cádiz|                Rota|
|        775| 23|  6|          29|              67|         108|           517|       1998|      2021|        Female|      6|          ESPAÑA|     Málaga|      Málaga|              Málaga|
|        653| 71|  6|          29|              67|         108|           517|       1950|      2021|        Female|      6|          ESPAÑA|     Málaga|      Málaga|              Málaga|
|        703| 60|  6|          29|              67|         108|            93|       1961|      2021|        Female|      6|          ESPAÑA|     Málaga|      Málaga|              Málaga|
|        703| 63|  1|          29|              67|         108|            93|       1958|      2021|          Male|      6|          ESPAÑA|     Málaga|      Málaga|              Málaga|
|       1153| 50|  6|          29|              67|         108|            58|       1971|      2021|        Female|      6|          ESPAÑA|     Málaga|      Málaga|              Málaga|
|       1054| 35|  1|          66|             128|         128|            58|       1986|      2021|          Male|      2|         RUMANÍA|Extranjeros|        NULL|                NULL|
|       1319| 32|  1|          66|             343|         343|            58|       1989|      2021|          Male|      3|        COLOMBIA|Extranjeros|        NULL|                NULL|
|       1319| 42|  6|          66|             343|         343|            58|       1979|      2021|        Female|      3|        COLOMBIA|Extranjeros|        NULL|                NULL|
+-----------+---+---+------------+----------------+------------+--------------+-----------+----------+--------------+-------+----------------+-----------+------------+--------------------+
only showing top 20 rows

root
 |-- SheetNumber: integer (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Sex: integer (nullable = true)
 |-- ProvinceCode: integer (nullable = true)
 |-- MunicipalityCode: integer (nullable = true)
 |-- BirthCountry: integer (nullable = true)
 |-- DistrictNumber: integer (nullable = true)
 |-- YearOfBirth: integer (nullable = true)
 |-- censusYear: integer (nullable = false)
 |-- SexDescription: string (nullable = false)
 |-- Control: integer (nullable = true)
 |-- BirthCountryName: string (nullable = true)
 |-- Province: string (nullable = true)
 |-- ProvinceName: string (nullable = true)
 |-- MunicipalityName: string (nullable = true)

581818

### filtering and testing

In [0]:
df_filtered_2021 = df_census2021.filter(df_census2021["BirthCountryName"] == "RUMANÍA").show()


# df_filtered = df_full_census2021.where(df_full_census2021["CountryName"] == "Rumanía")

+-----------+---+---+------------+----------------+------------+--------------+-----------+----------+--------------+-------+----------------+-----------+------------+----------------+
|SheetNumber|Age|Sex|ProvinceCode|MunicipalityCode|BirthCountry|DistrictNumber|YearOfBirth|censusYear|SexDescription|Control|BirthCountryName|   Province|ProvinceName|MunicipalityName|
+-----------+---+---+------------+----------------+------------+--------------+-----------+----------+--------------+-------+----------------+-----------+------------+----------------+
|       1054| 35|  1|          66|             128|         128|            58|       1986|      2021|          Male|      2|         RUMANÍA|Extranjeros|        NULL|            NULL|
|       1319| 38|  1|          66|             128|         128|            58|       1983|      2021|          Male|      2|         RUMANÍA|Extranjeros|        NULL|            NULL|
|       1319| 34|  1|          66|             128|         128|           515|       1987|      2021|          Male|      2|         RUMANÍA|Extranjeros|        NULL|            NULL|
|       1296| 22|  6|          66|             128|         128|           295|       1999|      2021|        Female|      2|         RUMANÍA|Extranjeros|        NULL|            NULL|
|         11| 44|  1|          66|             128|         128|           294|       1977|      2021|          Male|      2|         RUMANÍA|Extranjeros|        NULL|            NULL|
|       1160| 38|  1|          66|             128|         128|           291|       1983|      2021|          Male|      2|         RUMANÍA|Extranjeros|        NULL|            NULL|
|       1532| 21|  6|          66|             128|         128|           291|       2000|      2021|        Female|      2|         RUMANÍA|Extranjeros|        NULL|            NULL|
|       1532| 40|  6|          66|             128|         128|           291|       1981|      2021|        Female|      2|         RUMANÍA|Extranjeros|        NULL|            NULL|
|       1532| 43|  1|          66|             128|         128|           291|       1978|      2021|          Male|      2|         RUMANÍA|Extranjeros|        NULL|            NULL|
|        949| 16|  6|          66|             128|         128|           291|       2005|      2021|        Female|      2|         RUMANÍA|Extranjeros|        NULL|            NULL|
|        949| 34|  6|          66|             128|         128|           291|       1987|      2021|        Female|      2|         RUMANÍA|Extranjeros|        NULL|            NULL|
|       1595| 32|  6|          66|             128|         128|           291|       1989|      2021|        Female|      2|         RUMANÍA|Extranjeros|        NULL|            NULL|
|       1595| 32|  1|          66|             128|         128|           291|       1989|      2021|          Male|      2|         RUMANÍA|Extranjeros|        NULL|            NULL|
|        461| 19|  1|          66|             128|         128|           293|       2002|      2021|          Male|      2|         RUMANÍA|Extranjeros|        NULL|            NULL|
|        461| 41|  6|          66|             128|         128|           293|       1980|      2021|        Female|      2|         RUMANÍA|Extranjeros|        NULL|            NULL|
|        461| 45|  1|          66|             128|         128|           293|       1976|      2021|          Male|      2|         RUMANÍA|Extranjeros|        NULL|            NULL|
|       1267| 27|  6|          66|             128|         128|           291|       1994|      2021|        Female|      2|         RUMANÍA|Extranjeros|        NULL|            NULL|
|        808| 39|  6|          66|             128|         128|           288|       1982|      2021|        Female|      2|         RUMANÍA|Extranjeros|        NULL|            NULL|
|        808|  2|  6|          29|              67|         128|           288|       2019|      2021|        Female|      2|         RUMANÍA|     Málaga|      Málaga|          Málaga|
|       1264| 42|  6|          66|             128|         128|           288|       1979|      2021|        Female|      2|         RUMANÍA|Extranjeros|        NULL|            NULL|
+-----------+---+---+------------+----------------+------------+--------------+-----------+----------+--------------+-------+----------------+-----------+------------+----------------+
only showing top 20 rows

## Census2020 Transformations

In [0]:
df_census2020 = census2020.withColumnRenamed("NHOP", "SheetNumber")\
       .withColumnRenamed("EDAD", "Age")\
       .withColumnRenamed("SEXO", "Sex")\
       .withColumnRenamed("CPRON", "ProvinceCode")\
       .withColumnRenamed("CMUNN", "MunicipalityCode")\
       .withColumnRenamed("NACI", "BirthCountry")\
       .withColumnRenamed("BARRIO", "DistrictNumber")\
       .withColumn("YearOfBirth", (lit(2020) - col("Age").cast(IntegerType())))\
       .withColumn("censusYear", lit(2020))


df_census2020 = df_census2020.withColumn("SexDescription", F.when(F.col("Sex") == 1, "Male").when(F.col("Sex") == 6, "Female").otherwise("Unknown"))


for column in df_census2020.columns:
    df_census2020 = df_census2020.fillna('null', subset=[column])


df_census2020.printSchema()
df_census2020.show()
df_census2020.count()

root
 |-- SheetNumber: integer (nullable = true)
 |-- Sex: integer (nullable = true)
 |-- ProvinceCode: integer (nullable = true)
 |-- MunicipalityCode: integer (nullable = true)
 |-- BirthCountry: integer (nullable = true)
 |-- DistrictNumber: integer (nullable = true)
 |-- Age: integer (nullable = true)
 |-- YearOfBirth: integer (nullable = true)
 |-- censusYear: integer (nullable = false)
 |-- SexDescription: string (nullable = false)

+-----------+---+------------+----------------+------------+--------------+---+-----------+----------+--------------+
|SheetNumber|Sex|ProvinceCode|MunicipalityCode|BirthCountry|DistrictNumber|Age|YearOfBirth|censusYear|SexDescription|
+-----------+---+------------+----------------+------------+--------------+---+-----------+----------+--------------+
|        125|  6|          29|              67|         108|           513| 17|       2003|      2020|        Female|
|        125|  6|          29|              67|         108|           513| 55|       1965|      2020|        Female|
|        125|  1|          29|              67|         108|           513| 22|       1998|      2020|          Male|
|        124|  6|          29|              67|         108|           513| 81|       1939|      2020|        Female|
|        124|  1|          29|              67|         108|           513| 84|       1936|      2020|          Male|
|        639|  1|          29|              67|         108|           513| 49|       1971|      2020|          Male|
|        639|  6|          29|              67|         108|           513| 46|       1974|      2020|        Female|
|        639|  1|          29|              67|         108|           513| 12|       2008|      2020|          Male|
|        639|  6|          29|              67|         108|           513| 16|       2004|      2020|        Female|
|        843|  1|          29|              67|         108|           513| 56|       1964|      2020|          Male|
|        843|  6|          29|              67|         108|           513| 43|       1977|      2020|        Female|
|        843|  1|          29|              67|         108|           513| 25|       1995|      2020|          Male|
|        180|  1|          29|              67|         108|           522| 65|       1955|      2020|          Male|
|        182|  6|          29|              67|         108|           522| 51|       1969|      2020|        Female|
|        182|  1|          29|              67|         108|           522| 21|       1999|      2020|          Male|
|        182|  1|          29|              67|         108|           522| 15|       2005|      2020|          Male|
|        902|  6|          29|              67|         108|           522| 44|       1976|      2020|        Female|
|        436|  1|          29|              67|         108|           515| 52|       1968|      2020|          Male|
|        436|  6|          29|              67|         108|           515| 46|       1974|      2020|        Female|
|        436|  6|          29|              67|         108|           515| 18|       2002|      2020|        Female|
+-----------+---+------------+----------------+------------+--------------+---+-----------+----------+--------------+
only showing top 20 rows

580469

### Join df_census2020 + countries + provinces + municipalities

In [0]:
# this code is wrong. It triplicates the table rows!

## Unión con el dataframe de países
#df_full_census2020 = df_census2020.join(df_countries, df_census2020["BirthCountry"] == df_countries["CountryCode"], "left_outer") \
#                                        .drop(df_countries["CountryCode"])
#
#df_full_census2020 = df_full_census2020.join(df_provinces, (df_full_census2020["ProvinceCode"] == df_provinces["ProvinceCode"]), "left_outer") \
#                                       .drop(df_provinces["ProvinceCode"])\
#                                       .drop(df_full_census2020["ProvinceCode"])
#
## Unión con el dataframe de municipios
#df_full_census2020 = df_full_census2020.join(df_municipalities, (df_full_census2020["MunicipalityCode"] == df_municipalities["MunicipalityCode"]), #"left_outer")\
#    .drop(df_municipalities["MunicipalityCode"])
#
#
#df_full_census2020.show(n=50, truncate=False)
#
#df_full_census2020.printSchema()
#

+-----------+---+----------------+------------+--------------+---+-----------+----------+--------------+-------+-----------+--------+------------+------------+--------------------------+
|SheetNumber|Sex|MunicipalityCode|BirthCountry|DistrictNumber|Age|YearOfBirth|censusYear|SexDescription|Control|CountryName|Province|ProvinceCode|ProvinceName|MunicipalityName          |
+-----------+---+----------------+------------+--------------+---+-----------+----------+--------------+-------+-----------+--------+------------+------------+--------------------------+
|125        |6  |67              |108         |513           |17 |2003       |2020      |Female        |6      |ESPAÑA     |Málaga  |50          |Zaragoza    |Calatayud                 |
|125        |6  |67              |108         |513           |17 |2003       |2020      |Female        |6      |ESPAÑA     |Málaga  |49          |Zamora      |Ferreras de Arriba        |
|125        |6  |67              |108         |513           |17 |2003       |2020      |Female        |6      |ESPAÑA     |Málaga  |48          |Vizcaya     |Muxika                    |
|125        |6  |67              |108         |513           |17 |2003       |2020      |Female        |6      |ESPAÑA     |Málaga  |47          |Valladolid  |Fuente el Sol             |
|125        |6  |67              |108         |513           |17 |2003       |2020      |Female        |6      |ESPAÑA     |Málaga  |46          |Valencia    |Benisanó                  |
|125        |6  |67              |108         |513           |17 |2003       |2020      |Female        |6      |ESPAÑA     |Málaga  |45          |Toledo      |Gálvez                    |
|125        |6  |67              |108         |513           |17 |2003       |2020      |Female        |6      |ESPAÑA     |Málaga  |44          |Teruel      |Castelnou                 |
|125        |6  |67              |108         |513           |17 |2003       |2020      |Female        |6      |ESPAÑA     |Málaga  |43          |Tarragona   |Ginestar                  |
|125        |6  |67              |108         |513           |17 |2003       |2020      |Female        |6      |ESPAÑA     |Málaga  |41          |Sevilla     |Olivares                  |
|125        |6  |67              |108         |513           |17 |2003       |2020      |Female        |6      |ESPAÑA     |Málaga  |39          |Cantabria   |Ruesga                    |
|125        |6  |67              |108         |513           |17 |2003       |2020      |Female        |6      |ESPAÑA     |Málaga  |37          |Salamanca   |Cabrerizos                |
|125        |6  |67              |108         |513           |17 |2003       |2020      |Female        |6      |ESPAÑA     |Málaga  |34          |Palencia    |Dehesa de Montejo         |
|125        |6  |67              |108         |513           |17 |2003       |2020      |Female        |6      |ESPAÑA     |Málaga  |33          |Asturias    |Sobrescobio               |
|125        |6  |67              |108         |513           |17 |2003       |2020      |Female        |6      |ESPAÑA     |Málaga  |32          |Ourense     |Rairiz de Veiga           |
|125        |6  |67              |108         |513           |17 |2003       |2020      |Female        |6      |ESPAÑA     |Málaga  |31          |Navarra     |Carcastillo               |
|125        |6  |67              |108         |513           |17 |2003       |2020      |Female        |6      |ESPAÑA     |Málaga  |29          |Málaga      |Málaga                    |
|125        |6  |67              |108         |513           |17 |2003       |2020      |Female        |6      |ESPAÑA     |Málaga  |28          |Madrid      |Guadalix de la Sierra     |
|125        |6  |67              |108         |513           |17 |2003       |2020      |Female        |6      |ESPAÑA     |Málaga  |26          |La Rioja    |Gallinero de Cameros      |
|125        |6  |67              |108         |513           |17 |2003       |2020      |Female        |6      |ESPAÑA     |Málaga  |25          |Lleida      |Castelldans               |
|125        |6  |67              |108         |513           |17 |2003       |2020      |Female        |6      |ESPAÑA     |Málaga  |24          |León        |Encinedo                  |
|125        |6  |67              |108         |513           |17 |2003       |2020      |Female        |6      |ESPAÑA     |Málaga  |23          |Jaén        |Pegalajar                 |
|125        |6  |67              |108         |513           |17 |2003       |2020      |Female        |6      |ESPAÑA     |Málaga  |22          |Huesca      |Bonansa                   |
|125        |6  |67              |108         |513           |17 |2003       |2020      |Female        |6      |ESPAÑA     |Málaga  |21          |Huelva      |Santa Ana la Real         |
|125        |6  |67              |108         |513           |17 |2003       |2020      |Female        |6      |ESPAÑA     |Málaga  |20          |Guipúzcoa   |Errenteria                |
|125        |6  |67              |108         |513           |17 |2003       |2020      |Female        |6      |ESPAÑA     |Málaga  |19          |Guadalajara |Cardoso de la Sierra, El  |
|125        |6  |67              |108         |513           |17 |2003       |2020      |Female        |6      |ESPAÑA     |Málaga  |18          |Granada     |Diezma                    |
|125        |6  |67              |108         |513           |17 |2003       |2020      |Female        |6      |ESPAÑA     |Málaga  |17          |Girona      |Flaçà                     |
|125        |6  |67              |108         |513           |17 |2003       |2020      |Female        |6      |ESPAÑA     |Málaga  |16          |Cuenca      |Castejón                  |
|125        |6  |67              |108         |513           |17 |2003       |2020      |Female        |6      |ESPAÑA     |Málaga  |15          |Coruña (A)  |Pobra do Caramiñal, A     |
|125        |6  |67              |108         |513           |17 |2003       |2020      |Female        |6      |ESPAÑA     |Málaga  |14          |Córdoba     |Villafranca de Córdoba    |
|125        |6  |67              |108         |513           |17 |2003       |2020      |Female        |6      |ESPAÑA     |Málaga  |13          |Ciudad Real |Pozuelos de Calatrava, Los|
|125        |6  |67              |108         |513           |17 |2003       |2020      |Female        |6      |ESPAÑA     |Málaga  |12          |Castellón   |Geldo                     |
|125        |6  |67              |108         |513           |17 |2003       |2020      |Female        |6      |ESPAÑA     |Málaga  |10          |Cáceres     |Coria                     |
|125        |6  |67              |108         |513           |17 |2003       |2020      |Female        |6      |ESPAÑA     |Málaga  |9           |Burgos      |Canicosa de la Sierra     |
|125        |6  |67              |108         |513           |17 |2003       |2020      |Female        |6      |ESPAÑA     |Málaga  |8           |Barcelona   |Centelles                 |
|125        |6  |67              |108         |513           |17 |2003       |2020      |Female        |6      |ESPAÑA     |Málaga  |6           |Badajoz     |Higuera la Real           |
|125        |6  |67              |108         |513           |17 |2003       |2020      |Female        |6      |ESPAÑA     |Málaga  |5           |Ávila       |Chamartín                 |
|125        |6  |67              |108         |513           |17 |2003       |2020      |Female        |6      |ESPAÑA     |Málaga  |4           |Almería     |Ohanes                    |
|125        |6  |67              |108         |513           |17 |2003       |2020      |Female        |6      |ESPAÑA     |Málaga  |3           |Alicante    |Facheca                   |
|125        |6  |67              |108         |513           |17 |2003       |2020      |Female        |6      |ESPAÑA     |Málaga  |2           |Albacete    |Riópar                    |
|125        |6  |67              |108         |513           |55 |1965       |2020      |Female        |6      |ESPAÑA     |Málaga  |50          |Zaragoza    |Calatayud                 |
|125        |6  |67              |108         |513           |55 |1965       |2020      |Female        |6      |ESPAÑA     |Málaga  |49          |Zamora      |Ferreras de Arriba        |
|125        |6  |67              |108         |513           |55 |1965       |2020      |Female        |6      |ESPAÑA     |Málaga  |48          |Vizcaya     |Muxika                    |
|125        |6  |67              |108         |513           |55 |1965       |2020      |Female        |6      |ESPAÑA     |Málaga  |47          |Valladolid  |Fuente el Sol             |
|125        |6  |67              |108         |513           |55 |1965       |2020      |Female        |6      |ESPAÑA     |Málaga  |46          |Valencia    |Benisanó                  |
|125        |6  |67              |108         |513           |55 |1965       |2020      |Female        |6      |ESPAÑA     |Málaga  |45          |Toledo      |Gálvez                    |
|125        |6  |67              |108         |513           |55 |1965       |2020      |Female        |6      |ESPAÑA     |Málaga  |44          |Teruel      |Castelnou                 |
|125        |6  |67              |108         |513           |55 |1965       |2020      |Female        |6      |ESPAÑA     |Málaga  |43          |Tarragona   |Ginestar                  |
|125        |6  |67              |108         |513           |55 |1965       |2020      |Female        |6      |ESPAÑA     |Málaga  |41          |Sevilla     |Olivares                  |
|125        |6  |67              |108         |513           |55 |1965       |2020      |Female        |6      |ESPAÑA     |Málaga  |39          |Cantabria   |Ruesga                    |
+-----------+---+----------------+------------+--------------+---+-----------+----------+--------------+-------+-----------+--------+------------+------------+--------------------------+
only showing top 50 rows

root
 |-- SheetNumber: integer (nullable = true)
 |-- Sex: integer (nullable = true)
 |-- MunicipalityCode: integer (nullable = true)
 |-- BirthCountry: integer (nullable = true)
 |-- DistrictNumber: integer (nullable = true)
 |-- Age: integer (nullable = true)
 |-- YearOfBirth: integer (nullable = true)
 |-- censusYear: integer (nullable = false)
 |-- SexDescription: string (nullable = false)
 |-- Control: integer (nullable = true)
 |-- CountryName: string (nullable = true)
 |-- Province: string (nullable = true)
 |-- ProvinceCode: integer (nullable = true)
 |-- ProvinceName: string (nullable = true)
 |-- MunicipalityName: string (nullable = true)

In [0]:
df_census2020 = df_census2020.join(df_countries, df_census2020["BirthCountry"] == df_countries["CountryCode"], "left_outer") \
                             .drop(df_countries["CountryCode"]) \
                             .withColumnRenamed("CountryName", "BirthCountryName")

df_census2020.show()
df_census2020.printSchema()
df_census2020.count()

+-----------+---+------------+----------------+------------+--------------+---+-----------+----------+--------------+-------+----------------+
|SheetNumber|Sex|ProvinceCode|MunicipalityCode|BirthCountry|DistrictNumber|Age|YearOfBirth|censusYear|SexDescription|Control|BirthCountryName|
+-----------+---+------------+----------------+------------+--------------+---+-----------+----------+--------------+-------+----------------+
|        125|  6|          29|              67|         108|           513| 17|       2003|      2020|        Female|      6|          ESPAÑA|
|        125|  6|          29|              67|         108|           513| 55|       1965|      2020|        Female|      6|          ESPAÑA|
|        125|  1|          29|              67|         108|           513| 22|       1998|      2020|          Male|      6|          ESPAÑA|
|        124|  6|          29|              67|         108|           513| 81|       1939|      2020|        Female|      6|          ESPAÑA|
|        124|  1|          29|              67|         108|           513| 84|       1936|      2020|          Male|      6|          ESPAÑA|
|        639|  1|          29|              67|         108|           513| 49|       1971|      2020|          Male|      6|          ESPAÑA|
|        639|  6|          29|              67|         108|           513| 46|       1974|      2020|        Female|      6|          ESPAÑA|
|        639|  1|          29|              67|         108|           513| 12|       2008|      2020|          Male|      6|          ESPAÑA|
|        639|  6|          29|              67|         108|           513| 16|       2004|      2020|        Female|      6|          ESPAÑA|
|        843|  1|          29|              67|         108|           513| 56|       1964|      2020|          Male|      6|          ESPAÑA|
|        843|  6|          29|              67|         108|           513| 43|       1977|      2020|        Female|      6|          ESPAÑA|
|        843|  1|          29|              67|         108|           513| 25|       1995|      2020|          Male|      6|          ESPAÑA|
|        180|  1|          29|              67|         108|           522| 65|       1955|      2020|          Male|      6|          ESPAÑA|
|        182|  6|          29|              67|         108|           522| 51|       1969|      2020|        Female|      6|          ESPAÑA|
|        182|  1|          29|              67|         108|           522| 21|       1999|      2020|          Male|      6|          ESPAÑA|
|        182|  1|          29|              67|         108|           522| 15|       2005|      2020|          Male|      6|          ESPAÑA|
|        902|  6|          29|              67|         108|           522| 44|       1976|      2020|        Female|      6|          ESPAÑA|
|        436|  1|          29|              67|         108|           515| 52|       1968|      2020|          Male|      6|          ESPAÑA|
|        436|  6|          29|              67|         108|           515| 46|       1974|      2020|        Female|      6|          ESPAÑA|
|        436|  6|          29|              67|         108|           515| 18|       2002|      2020|        Female|      6|          ESPAÑA|
+-----------+---+------------+----------------+------------+--------------+---+-----------+----------+--------------+-------+----------------+
only showing top 20 rows

root
 |-- SheetNumber: integer (nullable = true)
 |-- Sex: integer (nullable = true)
 |-- ProvinceCode: integer (nullable = true)
 |-- MunicipalityCode: integer (nullable = true)
 |-- BirthCountry: integer (nullable = true)
 |-- DistrictNumber: integer (nullable = true)
 |-- Age: integer (nullable = true)
 |-- YearOfBirth: integer (nullable = true)
 |-- censusYear: integer (nullable = false)
 |-- SexDescription: string (nullable = false)
 |-- Control: integer (nullable = true)
 |-- BirthCountryName: string (nullable = true)

580648

In [0]:
df_census2020 = df_census2020.join(df_provinces, df_census2020["ProvinceCode"] == df_provinces["ProvinceCode"], "left_outer") \
                             .drop(df_provinces["ProvinceCode"]) \
                             .withColumnRenamed("ProvinceName", "ProvinceName")

df_census2020.show()
df_census2020.printSchema()
df_census2020.count()

+-----------+---+------------+----------------+------------+--------------+---+-----------+----------+--------------+-------+----------------+--------+
|SheetNumber|Sex|ProvinceCode|MunicipalityCode|BirthCountry|DistrictNumber|Age|YearOfBirth|censusYear|SexDescription|Control|BirthCountryName|Province|
+-----------+---+------------+----------------+------------+--------------+---+-----------+----------+--------------+-------+----------------+--------+
|        125|  6|          29|              67|         108|           513| 17|       2003|      2020|        Female|      6|          ESPAÑA|  Málaga|
|        125|  6|          29|              67|         108|           513| 55|       1965|      2020|        Female|      6|          ESPAÑA|  Málaga|
|        125|  1|          29|              67|         108|           513| 22|       1998|      2020|          Male|      6|          ESPAÑA|  Málaga|
|        124|  6|          29|              67|         108|           513| 81|       1939|      2020|        Female|      6|          ESPAÑA|  Málaga|
|        124|  1|          29|              67|         108|           513| 84|       1936|      2020|          Male|      6|          ESPAÑA|  Málaga|
|        639|  1|          29|              67|         108|           513| 49|       1971|      2020|          Male|      6|          ESPAÑA|  Málaga|
|        639|  6|          29|              67|         108|           513| 46|       1974|      2020|        Female|      6|          ESPAÑA|  Málaga|
|        639|  1|          29|              67|         108|           513| 12|       2008|      2020|          Male|      6|          ESPAÑA|  Málaga|
|        639|  6|          29|              67|         108|           513| 16|       2004|      2020|        Female|      6|          ESPAÑA|  Málaga|
|        843|  1|          29|              67|         108|           513| 56|       1964|      2020|          Male|      6|          ESPAÑA|  Málaga|
|        843|  6|          29|              67|         108|           513| 43|       1977|      2020|        Female|      6|          ESPAÑA|  Málaga|
|        843|  1|          29|              67|         108|           513| 25|       1995|      2020|          Male|      6|          ESPAÑA|  Málaga|
|        180|  1|          29|              67|         108|           522| 65|       1955|      2020|          Male|      6|          ESPAÑA|  Málaga|
|        182|  6|          29|              67|         108|           522| 51|       1969|      2020|        Female|      6|          ESPAÑA|  Málaga|
|        182|  1|          29|              67|         108|           522| 21|       1999|      2020|          Male|      6|          ESPAÑA|  Málaga|
|        182|  1|          29|              67|         108|           522| 15|       2005|      2020|          Male|      6|          ESPAÑA|  Málaga|
|        902|  6|          29|              67|         108|           522| 44|       1976|      2020|        Female|      6|          ESPAÑA|  Málaga|
|        436|  1|          29|              67|         108|           515| 52|       1968|      2020|          Male|      6|          ESPAÑA|  Málaga|
|        436|  6|          29|              67|         108|           515| 46|       1974|      2020|        Female|      6|          ESPAÑA|  Málaga|
|        436|  6|          29|              67|         108|           515| 18|       2002|      2020|        Female|      6|          ESPAÑA|  Málaga|
+-----------+---+------------+----------------+------------+--------------+---+-----------+----------+--------------+-------+----------------+--------+
only showing top 20 rows

root
 |-- SheetNumber: integer (nullable = true)
 |-- Sex: integer (nullable = true)
 |-- ProvinceCode: integer (nullable = true)
 |-- MunicipalityCode: integer (nullable = true)
 |-- BirthCountry: integer (nullable = true)
 |-- DistrictNumber: integer (nullable = true)
 |-- Age: integer (nullable = true)
 |-- YearOfBirth: integer (nullable = true)
 |-- censusYear: integer (nullable = false)
 |-- SexDescription: string (nullable = false)
 |-- Control: integer (nullable = true)
 |-- BirthCountryName: string (nullable = true)
 |-- Province: string (nullable = true)

580648

In [0]:
df_census2020 = df_census2020.join(df_municipalities, (df_census2020["MunicipalityCode"] == df_municipalities["MunicipalityCode"]) & (df_census2020["ProvinceCode"] == df_municipalities["ProvinceCode"]), "left_outer") \
                             .drop(df_municipalities["MunicipalityCode"]) \
                             .drop(df_municipalities["ProvinceCode"]) \
                             .withColumnRenamed("MunicipalityName", "MunicipalityName")



df_census2020.show()
df_census2020.printSchema()
df_census2020.count()

+-----------+---+------------+----------------+------------+--------------+---+-----------+----------+--------------+-------+----------------+--------+------------+----------------+
|SheetNumber|Sex|ProvinceCode|MunicipalityCode|BirthCountry|DistrictNumber|Age|YearOfBirth|censusYear|SexDescription|Control|BirthCountryName|Province|ProvinceName|MunicipalityName|
+-----------+---+------------+----------------+------------+--------------+---+-----------+----------+--------------+-------+----------------+--------+------------+----------------+
|        125|  6|          29|              67|         108|           513| 17|       2003|      2020|        Female|      6|          ESPAÑA|  Málaga|      Málaga|          Málaga|
|        125|  6|          29|              67|         108|           513| 55|       1965|      2020|        Female|      6|          ESPAÑA|  Málaga|      Málaga|          Málaga|
|        125|  1|          29|              67|         108|           513| 22|       1998|      2020|          Male|      6|          ESPAÑA|  Málaga|      Málaga|          Málaga|
|        124|  6|          29|              67|         108|           513| 81|       1939|      2020|        Female|      6|          ESPAÑA|  Málaga|      Málaga|          Málaga|
|        124|  1|          29|              67|         108|           513| 84|       1936|      2020|          Male|      6|          ESPAÑA|  Málaga|      Málaga|          Málaga|
|        639|  1|          29|              67|         108|           513| 49|       1971|      2020|          Male|      6|          ESPAÑA|  Málaga|      Málaga|          Málaga|
|        639|  6|          29|              67|         108|           513| 46|       1974|      2020|        Female|      6|          ESPAÑA|  Málaga|      Málaga|          Málaga|
|        639|  1|          29|              67|         108|           513| 12|       2008|      2020|          Male|      6|          ESPAÑA|  Málaga|      Málaga|          Málaga|
|        639|  6|          29|              67|         108|           513| 16|       2004|      2020|        Female|      6|          ESPAÑA|  Málaga|      Málaga|          Málaga|
|        843|  1|          29|              67|         108|           513| 56|       1964|      2020|          Male|      6|          ESPAÑA|  Málaga|      Málaga|          Málaga|
|        843|  6|          29|              67|         108|           513| 43|       1977|      2020|        Female|      6|          ESPAÑA|  Málaga|      Málaga|          Málaga|
|        843|  1|          29|              67|         108|           513| 25|       1995|      2020|          Male|      6|          ESPAÑA|  Málaga|      Málaga|          Málaga|
|        180|  1|          29|              67|         108|           522| 65|       1955|      2020|          Male|      6|          ESPAÑA|  Málaga|      Málaga|          Málaga|
|        182|  6|          29|              67|         108|           522| 51|       1969|      2020|        Female|      6|          ESPAÑA|  Málaga|      Málaga|          Málaga|
|        182|  1|          29|              67|         108|           522| 21|       1999|      2020|          Male|      6|          ESPAÑA|  Málaga|      Málaga|          Málaga|
|        182|  1|          29|              67|         108|           522| 15|       2005|      2020|          Male|      6|          ESPAÑA|  Málaga|      Málaga|          Málaga|
|        902|  6|          29|              67|         108|           522| 44|       1976|      2020|        Female|      6|          ESPAÑA|  Málaga|      Málaga|          Málaga|
|        436|  1|          29|              67|         108|           515| 52|       1968|      2020|          Male|      6|          ESPAÑA|  Málaga|      Málaga|          Málaga|
|        436|  6|          29|              67|         108|           515| 46|       1974|      2020|        Female|      6|          ESPAÑA|  Málaga|      Málaga|          Málaga|
|        436|  6|          29|              67|         108|           515| 18|       2002|      2020|        Female|      6|          ESPAÑA|  Málaga|      Málaga|          Málaga|
+-----------+---+------------+----------------+------------+--------------+---+-----------+----------+--------------+-------+----------------+--------+------------+----------------+
only showing top 20 rows

root
 |-- SheetNumber: integer (nullable = true)
 |-- Sex: integer (nullable = true)
 |-- ProvinceCode: integer (nullable = true)
 |-- MunicipalityCode: integer (nullable = true)
 |-- BirthCountry: integer (nullable = true)
 |-- DistrictNumber: integer (nullable = true)
 |-- Age: integer (nullable = true)
 |-- YearOfBirth: integer (nullable = true)
 |-- censusYear: integer (nullable = false)
 |-- SexDescription: string (nullable = false)
 |-- Control: integer (nullable = true)
 |-- BirthCountryName: string (nullable = true)
 |-- Province: string (nullable = true)
 |-- ProvinceName: string (nullable = true)
 |-- MunicipalityName: string (nullable = true)

582285

### filtering and testing

In [0]:
df_filtered_2020 = df_census2020.where(df_census2020["BirthCountryName"] == "COLOMBIA").show()

+-----------+---+------------+----------------+------------+--------------+---+-----------+----------+--------------+-------+----------------+-----------+------------+----------------+
|SheetNumber|Sex|ProvinceCode|MunicipalityCode|BirthCountry|DistrictNumber|Age|YearOfBirth|censusYear|SexDescription|Control|BirthCountryName|   Province|ProvinceName|MunicipalityName|
+-----------+---+------------+----------------+------------+--------------+---+-----------+----------+--------------+-------+----------------+-----------+------------+----------------+
|       1290|  1|          66|             343|         343|           295| 53|       1967|      2020|          Male|      3|        COLOMBIA|Extranjeros|        NULL|            NULL|
|       1290|  1|          66|             343|         343|           295| 64|       1956|      2020|          Male|      3|        COLOMBIA|Extranjeros|        NULL|            NULL|
|         27|  6|          66|             343|         343|           294| 31|       1989|      2020|        Female|      3|        COLOMBIA|Extranjeros|        NULL|            NULL|
|         27|  6|          66|             343|         343|           294| 51|       1969|      2020|        Female|      3|        COLOMBIA|Extranjeros|        NULL|            NULL|
|       1132|  6|          66|             343|         343|           294| 27|       1993|      2020|        Female|      3|        COLOMBIA|Extranjeros|        NULL|            NULL|
|       1062|  1|          66|             343|         343|           294| 23|       1997|      2020|          Male|      3|        COLOMBIA|Extranjeros|        NULL|            NULL|
|       1062|  6|          66|             343|         343|           294| 15|       2005|      2020|        Female|      3|        COLOMBIA|Extranjeros|        NULL|            NULL|
|       1062|  1|          66|             343|         343|           294| 47|       1973|      2020|          Male|      3|        COLOMBIA|Extranjeros|        NULL|            NULL|
|       1062|  6|          66|             343|         343|           294| 45|       1975|      2020|        Female|      3|        COLOMBIA|Extranjeros|        NULL|            NULL|
|       1062|  1|          66|             343|         343|           294| 16|       2004|      2020|          Male|      3|        COLOMBIA|Extranjeros|        NULL|            NULL|
|       1159|  6|          66|             343|         343|           294| 69|       1951|      2020|        Female|      3|        COLOMBIA|Extranjeros|        NULL|            NULL|
|        704|  6|          66|             343|         343|           291| 36|       1984|      2020|        Female|      3|        COLOMBIA|Extranjeros|        NULL|            NULL|
|       1088|  1|          66|             343|         343|           291| 28|       1992|      2020|          Male|      3|        COLOMBIA|Extranjeros|        NULL|            NULL|
|       1088|  6|          66|             343|         343|           291| 23|       1997|      2020|        Female|      3|        COLOMBIA|Extranjeros|        NULL|            NULL|
|       1088|  6|          66|             343|         343|           291| 38|       1982|      2020|        Female|      3|        COLOMBIA|Extranjeros|        NULL|            NULL|
|        736|  6|          66|             343|         343|           293| 32|       1988|      2020|        Female|      3|        COLOMBIA|Extranjeros|        NULL|            NULL|
|        736|  6|          66|             343|         343|           293| 58|       1962|      2020|        Female|      3|        COLOMBIA|Extranjeros|        NULL|            NULL|
|        736|  1|          66|             343|         343|           293| 23|       1997|      2020|          Male|      3|        COLOMBIA|Extranjeros|        NULL|            NULL|
|        736|  1|          66|             343|         343|           293| 28|       1992|      2020|          Male|      3|        COLOMBIA|Extranjeros|        NULL|            NULL|
|       1561|  1|          66|             343|         343|           291| 36|       1984|      2020|          Male|      3|        COLOMBIA|Extranjeros|        NULL|            NULL|
+-----------+---+------------+----------------+------------+--------------+---+-----------+----------+--------------+-------+----------------+-----------+------------+----------------+
only showing top 20 rows

## Census2019 Transformations

In [0]:
df_census2019 = census2019.withColumnRenamed("NHOP", "SheetNumber")\
       .withColumnRenamed("EDAD", "Age")\
       .withColumnRenamed("SEXO", "Sex")\
       .withColumnRenamed("CPRON", "ProvinceCode")\
       .withColumnRenamed("CMUNN", "MunicipalityCode")\
       .withColumnRenamed("NACI", "BirthCountry")\
       .withColumnRenamed("BARRIO", "DistrictNumber")\
       .withColumn("YearOfBirth", (lit(2019) - col("Age").cast(IntegerType())))\
       .withColumn("censusYear", lit(2019))


df_census2019 = df_census2019.withColumn("SexDescription", F.when(F.col("Sex") == 1, "Male").when(F.col("Sex") == 6, "Female").otherwise("Unknown"))


for column in df_census2019.columns:
    df_census2019 = df_census2019.fillna('null', subset=[column])


df_census2019.printSchema()
df_census2019.show()
df_census2019.count()

root
 |-- SheetNumber: integer (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Sex: integer (nullable = true)
 |-- ProvinceCode: integer (nullable = true)
 |-- MunicipalityCode: integer (nullable = true)
 |-- BirthCountry: integer (nullable = true)
 |-- DistrictNumber: integer (nullable = true)
 |-- YearOfBirth: integer (nullable = true)
 |-- censusYear: integer (nullable = false)
 |-- SexDescription: string (nullable = false)

+-----------+---+---+------------+----------------+------------+--------------+-----------+----------+--------------+
|SheetNumber|Age|Sex|ProvinceCode|MunicipalityCode|BirthCountry|DistrictNumber|YearOfBirth|censusYear|SexDescription|
+-----------+---+---+------------+----------------+------------+--------------+-----------+----------+--------------+
|        542|  0|  6|          29|              67|         108|           121|       2019|      2019|        Female|
|       1011|  0|  1|          29|              67|         108|           121|       2019|      2019|          Male|
|       1227|  0|  1|          29|              67|         407|           121|       2019|      2019|          Male|
|       1134|  0|  1|          29|              67|         228|           121|       2019|      2019|          Male|
|        148| 39|  6|          29|              69|         108|           121|       1980|      2019|        Female|
|        693| 77|  1|          29|              72|         108|           121|       1942|      2019|          Male|
|       1118| 11|  6|          29|              83|         108|           121|       2008|      2019|        Female|
|       1118|  9|  1|          29|              83|         108|           121|       2010|      2019|          Male|
|        137| 64|  6|          29|              90|         108|           121|       1955|      2019|        Female|
|         94| 98|  6|          29|              91|         108|           121|       1921|      2019|        Female|
|        104| 84|  1|          29|              91|         108|           121|       1935|      2019|          Male|
|        104| 78|  6|          29|              91|         108|           121|       1941|      2019|        Female|
|       1217| 28|  1|          29|              93|         108|           121|       1991|      2019|          Male|
|        149| 69|  6|          29|              95|         108|           121|       1950|      2019|        Female|
|        809| 44|  6|          29|             901|         108|           121|       1975|      2019|        Female|
|        366| 71|  6|          31|             232|         108|           121|       1948|      2019|        Female|
|         95| 73|  1|          35|              24|         108|           121|       1946|      2019|          Male|
|        352| 76|  6|          37|             173|         108|           121|       1943|      2019|        Female|
|        265| 53|  6|          41|              91|         108|           121|       1966|      2019|        Female|
|       1000| 42|  6|          41|              91|         108|           121|       1977|      2019|        Female|
+-----------+---+---+------------+----------------+------------+--------------+-----------+----------+--------------+
only showing top 20 rows

576094

### Join df_census2019 + countries + provinces + municipalities

In [0]:
# Wrong code it triplicates the table rows

## Unión con el dataframe de países
#df_full_census2019 = df_census2019.join(df_countries, df_census2019["BirthCountry"] == df_countries["CountryCode"], "left_outer") \
#                                        .drop(df_countries["CountryCode"])
#
#df_full_census2019 = df_full_census2019.join(df_provinces, (df_full_census2019["ProvinceCode"] == df_provinces["ProvinceCode"]), "left_outer") \
#                                       .drop(df_provinces["ProvinceCode"])\
#                                       .drop(df_full_census2019["ProvinceCode"])
#
## Unión con el dataframe de municipios
#df_full_census2019 = df_full_census2019.join(df_municipalities, (df_full_census2019["MunicipalityCode"] == df_municipalities["MunicipalityCode"]), #"left_outer")\
#    .drop(df_municipalities["MunicipalityCode"])
#
#
#df_full_census2019.show(n=50, truncate=False)
#
#df_full_census2019.printSchema()

+-----------+---+---+----------------+------------+--------------+-----------+----------+--------------+-------+-----------+--------+------------+------------+--------------------------+
|SheetNumber|Age|Sex|MunicipalityCode|BirthCountry|DistrictNumber|YearOfBirth|censusYear|SexDescription|Control|CountryName|Province|ProvinceCode|ProvinceName|MunicipalityName          |
+-----------+---+---+----------------+------------+--------------+-----------+----------+--------------+-------+-----------+--------+------------+------------+--------------------------+
|542        |0  |6  |67              |108         |121           |2019       |2019      |Female        |6      |ESPAÑA     |Málaga  |50          |Zaragoza    |Calatayud                 |
|542        |0  |6  |67              |108         |121           |2019       |2019      |Female        |6      |ESPAÑA     |Málaga  |49          |Zamora      |Ferreras de Arriba        |
|542        |0  |6  |67              |108         |121           |2019       |2019      |Female        |6      |ESPAÑA     |Málaga  |48          |Vizcaya     |Muxika                    |
|542        |0  |6  |67              |108         |121           |2019       |2019      |Female        |6      |ESPAÑA     |Málaga  |47          |Valladolid  |Fuente el Sol             |
|542        |0  |6  |67              |108         |121           |2019       |2019      |Female        |6      |ESPAÑA     |Málaga  |46          |Valencia    |Benisanó                  |
|542        |0  |6  |67              |108         |121           |2019       |2019      |Female        |6      |ESPAÑA     |Málaga  |45          |Toledo      |Gálvez                    |
|542        |0  |6  |67              |108         |121           |2019       |2019      |Female        |6      |ESPAÑA     |Málaga  |44          |Teruel      |Castelnou                 |
|542        |0  |6  |67              |108         |121           |2019       |2019      |Female        |6      |ESPAÑA     |Málaga  |43          |Tarragona   |Ginestar                  |
|542        |0  |6  |67              |108         |121           |2019       |2019      |Female        |6      |ESPAÑA     |Málaga  |41          |Sevilla     |Olivares                  |
|542        |0  |6  |67              |108         |121           |2019       |2019      |Female        |6      |ESPAÑA     |Málaga  |39          |Cantabria   |Ruesga                    |
|542        |0  |6  |67              |108         |121           |2019       |2019      |Female        |6      |ESPAÑA     |Málaga  |37          |Salamanca   |Cabrerizos                |
|542        |0  |6  |67              |108         |121           |2019       |2019      |Female        |6      |ESPAÑA     |Málaga  |34          |Palencia    |Dehesa de Montejo         |
|542        |0  |6  |67              |108         |121           |2019       |2019      |Female        |6      |ESPAÑA     |Málaga  |33          |Asturias    |Sobrescobio               |
|542        |0  |6  |67              |108         |121           |2019       |2019      |Female        |6      |ESPAÑA     |Málaga  |32          |Ourense     |Rairiz de Veiga           |
|542        |0  |6  |67              |108         |121           |2019       |2019      |Female        |6      |ESPAÑA     |Málaga  |31          |Navarra     |Carcastillo               |
|542        |0  |6  |67              |108         |121           |2019       |2019      |Female        |6      |ESPAÑA     |Málaga  |29          |Málaga      |Málaga                    |
|542        |0  |6  |67              |108         |121           |2019       |2019      |Female        |6      |ESPAÑA     |Málaga  |28          |Madrid      |Guadalix de la Sierra     |
|542        |0  |6  |67              |108         |121           |2019       |2019      |Female        |6      |ESPAÑA     |Málaga  |26          |La Rioja    |Gallinero de Cameros      |
|542        |0  |6  |67              |108         |121           |2019       |2019      |Female        |6      |ESPAÑA     |Málaga  |25          |Lleida      |Castelldans               |
|542        |0  |6  |67              |108         |121           |2019       |2019      |Female        |6      |ESPAÑA     |Málaga  |24          |León        |Encinedo                  |
|542        |0  |6  |67              |108         |121           |2019       |2019      |Female        |6      |ESPAÑA     |Málaga  |23          |Jaén        |Pegalajar                 |
|542        |0  |6  |67              |108         |121           |2019       |2019      |Female        |6      |ESPAÑA     |Málaga  |22          |Huesca      |Bonansa                   |
|542        |0  |6  |67              |108         |121           |2019       |2019      |Female        |6      |ESPAÑA     |Málaga  |21          |Huelva      |Santa Ana la Real         |
|542        |0  |6  |67              |108         |121           |2019       |2019      |Female        |6      |ESPAÑA     |Málaga  |20          |Guipúzcoa   |Errenteria                |
|542        |0  |6  |67              |108         |121           |2019       |2019      |Female        |6      |ESPAÑA     |Málaga  |19          |Guadalajara |Cardoso de la Sierra, El  |
|542        |0  |6  |67              |108         |121           |2019       |2019      |Female        |6      |ESPAÑA     |Málaga  |18          |Granada     |Diezma                    |
|542        |0  |6  |67              |108         |121           |2019       |2019      |Female        |6      |ESPAÑA     |Málaga  |17          |Girona      |Flaçà                     |
|542        |0  |6  |67              |108         |121           |2019       |2019      |Female        |6      |ESPAÑA     |Málaga  |16          |Cuenca      |Castejón                  |
|542        |0  |6  |67              |108         |121           |2019       |2019      |Female        |6      |ESPAÑA     |Málaga  |15          |Coruña (A)  |Pobra do Caramiñal, A     |
|542        |0  |6  |67              |108         |121           |2019       |2019      |Female        |6      |ESPAÑA     |Málaga  |14          |Córdoba     |Villafranca de Córdoba    |
|542        |0  |6  |67              |108         |121           |2019       |2019      |Female        |6      |ESPAÑA     |Málaga  |13          |Ciudad Real |Pozuelos de Calatrava, Los|
|542        |0  |6  |67              |108         |121           |2019       |2019      |Female        |6      |ESPAÑA     |Málaga  |12          |Castellón   |Geldo                     |
|542        |0  |6  |67              |108         |121           |2019       |2019      |Female        |6      |ESPAÑA     |Málaga  |10          |Cáceres     |Coria                     |
|542        |0  |6  |67              |108         |121           |2019       |2019      |Female        |6      |ESPAÑA     |Málaga  |9           |Burgos      |Canicosa de la Sierra     |
|542        |0  |6  |67              |108         |121           |2019       |2019      |Female        |6      |ESPAÑA     |Málaga  |8           |Barcelona   |Centelles                 |
|542        |0  |6  |67              |108         |121           |2019       |2019      |Female        |6      |ESPAÑA     |Málaga  |6           |Badajoz     |Higuera la Real           |
|542        |0  |6  |67              |108         |121           |2019       |2019      |Female        |6      |ESPAÑA     |Málaga  |5           |Ávila       |Chamartín                 |
|542        |0  |6  |67              |108         |121           |2019       |2019      |Female        |6      |ESPAÑA     |Málaga  |4           |Almería     |Ohanes                    |
|542        |0  |6  |67              |108         |121           |2019       |2019      |Female        |6      |ESPAÑA     |Málaga  |3           |Alicante    |Facheca                   |
|542        |0  |6  |67              |108         |121           |2019       |2019      |Female        |6      |ESPAÑA     |Málaga  |2           |Albacete    |Riópar                    |
|1011       |0  |1  |67              |108         |121           |2019       |2019      |Male          |6      |ESPAÑA     |Málaga  |50          |Zaragoza    |Calatayud                 |
|1011       |0  |1  |67              |108         |121           |2019       |2019      |Male          |6      |ESPAÑA     |Málaga  |49          |Zamora      |Ferreras de Arriba        |
|1011       |0  |1  |67              |108         |121           |2019       |2019      |Male          |6      |ESPAÑA     |Málaga  |48          |Vizcaya     |Muxika                    |
|1011       |0  |1  |67              |108         |121           |2019       |2019      |Male          |6      |ESPAÑA     |Málaga  |47          |Valladolid  |Fuente el Sol             |
|1011       |0  |1  |67              |108         |121           |2019       |2019      |Male          |6      |ESPAÑA     |Málaga  |46          |Valencia    |Benisanó                  |
|1011       |0  |1  |67              |108         |121           |2019       |2019      |Male          |6      |ESPAÑA     |Málaga  |45          |Toledo      |Gálvez                    |
|1011       |0  |1  |67              |108         |121           |2019       |2019      |Male          |6      |ESPAÑA     |Málaga  |44          |Teruel      |Castelnou                 |
|1011       |0  |1  |67              |108         |121           |2019       |2019      |Male          |6      |ESPAÑA     |Málaga  |43          |Tarragona   |Ginestar                  |
|1011       |0  |1  |67              |108         |121           |2019       |2019      |Male          |6      |ESPAÑA     |Málaga  |41          |Sevilla     |Olivares                  |
|1011       |0  |1  |67              |108         |121           |2019       |2019      |Male          |6      |ESPAÑA     |Málaga  |39          |Cantabria   |Ruesga                    |
+-----------+---+---+----------------+------------+--------------+-----------+----------+--------------+-------+-----------+--------+------------+------------+--------------------------+
only showing top 50 rows

root
 |-- SheetNumber: integer (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Sex: integer (nullable = true)
 |-- MunicipalityCode: integer (nullable = true)
 |-- BirthCountry: integer (nullable = true)
 |-- DistrictNumber: integer (nullable = true)
 |-- YearOfBirth: integer (nullable = true)
 |-- censusYear: integer (nullable = false)
 |-- SexDescription: string (nullable = false)
 |-- Control: integer (nullable = true)
 |-- CountryName: string (nullable = true)
 |-- Province: string (nullable = true)
 |-- ProvinceCode: integer (nullable = true)
 |-- ProvinceName: string (nullable = true)
 |-- MunicipalityName: string (nullable = true)

In [0]:
df_census2019 = df_census2019.join(df_countries, df_census2019["BirthCountry"] == df_countries["CountryCode"], "left_outer") \
                             .drop(df_countries["CountryCode"]) \
                             .withColumnRenamed("CountryName", "BirthCountryName")

df_census2019.show()
df_census2019.printSchema()
df_census2019.count()

+-----------+---+---+------------+----------------+------------+--------------+-----------+----------+--------------+-------+----------------+
|SheetNumber|Age|Sex|ProvinceCode|MunicipalityCode|BirthCountry|DistrictNumber|YearOfBirth|censusYear|SexDescription|Control|BirthCountryName|
+-----------+---+---+------------+----------------+------------+--------------+-----------+----------+--------------+-------+----------------+
|        542|  0|  6|          29|              67|         108|           121|       2019|      2019|        Female|      6|          ESPAÑA|
|       1011|  0|  1|          29|              67|         108|           121|       2019|      2019|          Male|      6|          ESPAÑA|
|       1227|  0|  1|          29|              67|         407|           121|       2019|      2019|          Male|      7|           CHINA|
|       1134|  0|  1|          29|              67|         228|           121|       2019|      2019|          Male|      1|       MARRUECOS|
|        148| 39|  6|          29|              69|         108|           121|       1980|      2019|        Female|      6|          ESPAÑA|
|        693| 77|  1|          29|              72|         108|           121|       1942|      2019|          Male|      6|          ESPAÑA|
|       1118| 11|  6|          29|              83|         108|           121|       2008|      2019|        Female|      6|          ESPAÑA|
|       1118|  9|  1|          29|              83|         108|           121|       2010|      2019|          Male|      6|          ESPAÑA|
|        137| 64|  6|          29|              90|         108|           121|       1955|      2019|        Female|      6|          ESPAÑA|
|         94| 98|  6|          29|              91|         108|           121|       1921|      2019|        Female|      6|          ESPAÑA|
|        104| 84|  1|          29|              91|         108|           121|       1935|      2019|          Male|      6|          ESPAÑA|
|        104| 78|  6|          29|              91|         108|           121|       1941|      2019|        Female|      6|          ESPAÑA|
|       1217| 28|  1|          29|              93|         108|           121|       1991|      2019|          Male|      6|          ESPAÑA|
|        149| 69|  6|          29|              95|         108|           121|       1950|      2019|        Female|      6|          ESPAÑA|
|        809| 44|  6|          29|             901|         108|           121|       1975|      2019|        Female|      6|          ESPAÑA|
|        366| 71|  6|          31|             232|         108|           121|       1948|      2019|        Female|      6|          ESPAÑA|
|         95| 73|  1|          35|              24|         108|           121|       1946|      2019|          Male|      6|          ESPAÑA|
|        352| 76|  6|          37|             173|         108|           121|       1943|      2019|        Female|      6|          ESPAÑA|
|        265| 53|  6|          41|              91|         108|           121|       1966|      2019|        Female|      6|          ESPAÑA|
|       1000| 42|  6|          41|              91|         108|           121|       1977|      2019|        Female|      6|          ESPAÑA|
+-----------+---+---+------------+----------------+------------+--------------+-----------+----------+--------------+-------+----------------+
only showing top 20 rows

root
 |-- SheetNumber: integer (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Sex: integer (nullable = true)
 |-- ProvinceCode: integer (nullable = true)
 |-- MunicipalityCode: integer (nullable = true)
 |-- BirthCountry: integer (nullable = true)
 |-- DistrictNumber: integer (nullable = true)
 |-- YearOfBirth: integer (nullable = true)
 |-- censusYear: integer (nullable = false)
 |-- SexDescription: string (nullable = false)
 |-- Control: integer (nullable = true)
 |-- BirthCountryName: string (nullable = true)

576254

In [0]:
df_census2019 = df_census2019.join(df_provinces, df_census2019["ProvinceCode"] == df_provinces["ProvinceCode"], "left_outer") \
                             .drop(df_provinces["ProvinceCode"]) \
                             .withColumnRenamed("ProvinceName", "ProvinceName")

df_census2019.show()
df_census2019.printSchema()
df_census2019.count()

+-----------+---+---+------------+----------------+------------+--------------+-----------+----------+--------------+-------+----------------+----------+
|SheetNumber|Age|Sex|ProvinceCode|MunicipalityCode|BirthCountry|DistrictNumber|YearOfBirth|censusYear|SexDescription|Control|BirthCountryName|  Province|
+-----------+---+---+------------+----------------+------------+--------------+-----------+----------+--------------+-------+----------------+----------+
|        542|  0|  6|          29|              67|         108|           121|       2019|      2019|        Female|      6|          ESPAÑA|    Málaga|
|       1011|  0|  1|          29|              67|         108|           121|       2019|      2019|          Male|      6|          ESPAÑA|    Málaga|
|       1227|  0|  1|          29|              67|         407|           121|       2019|      2019|          Male|      7|           CHINA|    Málaga|
|       1134|  0|  1|          29|              67|         228|           121|       2019|      2019|          Male|      1|       MARRUECOS|    Málaga|
|        148| 39|  6|          29|              69|         108|           121|       1980|      2019|        Female|      6|          ESPAÑA|    Málaga|
|        693| 77|  1|          29|              72|         108|           121|       1942|      2019|          Male|      6|          ESPAÑA|    Málaga|
|       1118| 11|  6|          29|              83|         108|           121|       2008|      2019|        Female|      6|          ESPAÑA|    Málaga|
|       1118|  9|  1|          29|              83|         108|           121|       2010|      2019|          Male|      6|          ESPAÑA|    Málaga|
|        137| 64|  6|          29|              90|         108|           121|       1955|      2019|        Female|      6|          ESPAÑA|    Málaga|
|         94| 98|  6|          29|              91|         108|           121|       1921|      2019|        Female|      6|          ESPAÑA|    Málaga|
|        104| 84|  1|          29|              91|         108|           121|       1935|      2019|          Male|      6|          ESPAÑA|    Málaga|
|        104| 78|  6|          29|              91|         108|           121|       1941|      2019|        Female|      6|          ESPAÑA|    Málaga|
|       1217| 28|  1|          29|              93|         108|           121|       1991|      2019|          Male|      6|          ESPAÑA|    Málaga|
|        149| 69|  6|          29|              95|         108|           121|       1950|      2019|        Female|      6|          ESPAÑA|    Málaga|
|        809| 44|  6|          29|             901|         108|           121|       1975|      2019|        Female|      6|          ESPAÑA|    Málaga|
|        366| 71|  6|          31|             232|         108|           121|       1948|      2019|        Female|      6|          ESPAÑA|   Navarra|
|         95| 73|  1|          35|              24|         108|           121|       1946|      2019|          Male|      6|          ESPAÑA|Las Palmas|
|        352| 76|  6|          37|             173|         108|           121|       1943|      2019|        Female|      6|          ESPAÑA| Salamanca|
|        265| 53|  6|          41|              91|         108|           121|       1966|      2019|        Female|      6|          ESPAÑA|   Sevilla|
|       1000| 42|  6|          41|              91|         108|           121|       1977|      2019|        Female|      6|          ESPAÑA|   Sevilla|
+-----------+---+---+------------+----------------+------------+--------------+-----------+----------+--------------+-------+----------------+----------+
only showing top 20 rows

root
 |-- SheetNumber: integer (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Sex: integer (nullable = true)
 |-- ProvinceCode: integer (nullable = true)
 |-- MunicipalityCode: integer (nullable = true)
 |-- BirthCountry: integer (nullable = true)
 |-- DistrictNumber: integer (nullable = true)
 |-- YearOfBirth: integer (nullable = true)
 |-- censusYear: integer (nullable = false)
 |-- SexDescription: string (nullable = false)
 |-- Control: integer (nullable = true)
 |-- BirthCountryName: string (nullable = true)
 |-- Province: string (nullable = true)

576254

In [0]:
df_census2019 = df_census2019.join(df_municipalities, (df_census2019["MunicipalityCode"] == df_municipalities["MunicipalityCode"]) & (df_census2019["ProvinceCode"] == df_municipalities["ProvinceCode"]), "left_outer") \
                             .drop(df_municipalities["MunicipalityCode"]) \
                             .drop(df_municipalities["ProvinceCode"]) \
                             .withColumnRenamed("MunicipalityName", "MunicipalityName")



df_census2019.show()
df_census2019.printSchema()
df_census2019.count()

+-----------+---+---+------------+----------------+------------+--------------+-----------+----------+--------------+-------+----------------+----------+------------+--------------------+
|SheetNumber|Age|Sex|ProvinceCode|MunicipalityCode|BirthCountry|DistrictNumber|YearOfBirth|censusYear|SexDescription|Control|BirthCountryName|  Province|ProvinceName|    MunicipalityName|
+-----------+---+---+------------+----------------+------------+--------------+-----------+----------+--------------+-------+----------------+----------+------------+--------------------+
|        542|  0|  6|          29|              67|         108|           121|       2019|      2019|        Female|      6|          ESPAÑA|    Málaga|      Málaga|              Málaga|
|       1011|  0|  1|          29|              67|         108|           121|       2019|      2019|          Male|      6|          ESPAÑA|    Málaga|      Málaga|              Málaga|
|       1227|  0|  1|          29|              67|         407|           121|       2019|      2019|          Male|      7|           CHINA|    Málaga|      Málaga|              Málaga|
|       1134|  0|  1|          29|              67|         228|           121|       2019|      2019|          Male|      1|       MARRUECOS|    Málaga|      Málaga|              Málaga|
|        148| 39|  6|          29|              69|         108|           121|       1980|      2019|        Female|      6|          ESPAÑA|    Málaga|      Málaga|            Marbella|
|        693| 77|  1|          29|              72|         108|           121|       1942|      2019|          Male|      6|          ESPAÑA|    Málaga|      Málaga|             Mollina|
|       1118| 11|  6|          29|              83|         108|           121|       2008|      2019|        Female|      6|          ESPAÑA|    Málaga|      Málaga|            Riogordo|
|       1118|  9|  1|          29|              83|         108|           121|       2010|      2019|          Male|      6|          ESPAÑA|    Málaga|      Málaga|            Riogordo|
|        137| 64|  6|          29|              90|         108|           121|       1955|      2019|        Female|      6|          ESPAÑA|    Málaga|      Málaga|               Tolox|
|         94| 98|  6|          29|              91|         108|           121|       1921|      2019|        Female|      6|          ESPAÑA|    Málaga|      Málaga|              Torrox|
|        104| 84|  1|          29|              91|         108|           121|       1935|      2019|          Male|      6|          ESPAÑA|    Málaga|      Málaga|              Torrox|
|        104| 78|  6|          29|              91|         108|           121|       1941|      2019|        Female|      6|          ESPAÑA|    Málaga|      Málaga|              Torrox|
|       1217| 28|  1|          29|              93|         108|           121|       1991|      2019|          Male|      6|          ESPAÑA|    Málaga|      Málaga|  Valle de Abdalajís|
|        149| 69|  6|          29|              95|         108|           121|       1950|      2019|        Female|      6|          ESPAÑA|    Málaga|      Málaga|Villanueva de Alg...|
|        809| 44|  6|          29|             901|         108|           121|       1975|      2019|        Female|      6|          ESPAÑA|    Málaga|      Málaga|        Torremolinos|
|        366| 71|  6|          31|             232|         108|           121|       1948|      2019|        Female|      6|          ESPAÑA|   Navarra|     Navarra|              Tudela|
|         95| 73|  1|          35|              24|         108|           121|       1946|      2019|          Male|      6|          ESPAÑA|Las Palmas|  Las Palmas|             Teguise|
|        352| 76|  6|          37|             173|         108|           121|       1943|      2019|        Female|      6|          ESPAÑA| Salamanca|   Salamanca|           Lumbrales|
|        265| 53|  6|          41|              91|         108|           121|       1966|      2019|        Female|      6|          ESPAÑA|   Sevilla|     Sevilla|             Sevilla|
|       1000| 42|  6|          41|              91|         108|           121|       1977|      2019|        Female|      6|          ESPAÑA|   Sevilla|     Sevilla|             Sevilla|
+-----------+---+---+------------+----------------+------------+--------------+-----------+----------+--------------+-------+----------------+----------+------------+--------------------+
only showing top 20 rows

root
 |-- SheetNumber: integer (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Sex: integer (nullable = true)
 |-- ProvinceCode: integer (nullable = true)
 |-- MunicipalityCode: integer (nullable = true)
 |-- BirthCountry: integer (nullable = true)
 |-- DistrictNumber: integer (nullable = true)
 |-- YearOfBirth: integer (nullable = true)
 |-- censusYear: integer (nullable = false)
 |-- SexDescription: string (nullable = false)
 |-- Control: integer (nullable = true)
 |-- BirthCountryName: string (nullable = true)
 |-- Province: string (nullable = true)
 |-- ProvinceName: string (nullable = true)
 |-- MunicipalityName: string (nullable = true)

577881

### filtering and testing

In [0]:
df_filtered_2019 = df_census2019.where(df_census2019["BirthCountryName"] == "CHINA").show()

+-----------+---+---+------------+----------------+------------+--------------+-----------+----------+--------------+-------+----------------+-----------+------------+----------------+
|SheetNumber|Age|Sex|ProvinceCode|MunicipalityCode|BirthCountry|DistrictNumber|YearOfBirth|censusYear|SexDescription|Control|BirthCountryName|   Province|ProvinceName|MunicipalityName|
+-----------+---+---+------------+----------------+------------+--------------+-----------+----------+--------------+-------+----------------+-----------+------------+----------------+
|       1227|  0|  1|          29|              67|         407|           121|       2019|      2019|          Male|      7|           CHINA|     Málaga|      Málaga|          Málaga|
|       1227| 36|  6|          66|             407|         407|           121|       1983|      2019|        Female|      7|           CHINA|Extranjeros|        NULL|            NULL|
|       1225| 22|  1|          66|             407|         407|           121|       1997|      2019|          Male|      7|           CHINA|Extranjeros|        NULL|            NULL|
|       1225| 21|  1|          66|             407|         407|           121|       1998|      2019|          Male|      7|           CHINA|Extranjeros|        NULL|            NULL|
|       1225| 21|  1|          66|             407|         407|           121|       1998|      2019|          Male|      7|           CHINA|Extranjeros|        NULL|            NULL|
|       1227| 14|  1|          66|             407|         407|           121|       2005|      2019|          Male|      7|           CHINA|Extranjeros|        NULL|            NULL|
|        971|  8|  1|          29|              67|         407|           121|       2011|      2019|          Male|      7|           CHINA|     Málaga|      Málaga|          Málaga|
|        971| 45|  1|          66|             407|         407|           121|       1974|      2019|          Male|      7|           CHINA|Extranjeros|        NULL|            NULL|
|        971| 39|  6|          66|             407|         407|           121|       1980|      2019|        Female|      7|           CHINA|Extranjeros|        NULL|            NULL|
|        971| 19|  1|          66|             407|         407|           121|       2000|      2019|          Male|      7|           CHINA|Extranjeros|        NULL|            NULL|
|        535| 11|  1|          29|              67|         407|           148|       2008|      2019|          Male|      7|           CHINA|     Málaga|      Málaga|          Málaga|
|        552|  3|  6|          29|              67|         407|           148|       2016|      2019|        Female|      7|           CHINA|     Málaga|      Málaga|          Málaga|
|        535|  8|  6|          29|             901|         407|           148|       2011|      2019|        Female|      7|           CHINA|     Málaga|      Málaga|    Torremolinos|
|        535| 39|  6|          66|             407|         407|           148|       1980|      2019|        Female|      7|           CHINA|Extranjeros|        NULL|            NULL|
|        552| 38|  1|          66|             407|         407|           148|       1981|      2019|          Male|      7|           CHINA|Extranjeros|        NULL|            NULL|
|        552| 35|  6|          66|             407|         407|           148|       1984|      2019|        Female|      7|           CHINA|Extranjeros|        NULL|            NULL|
|        552| 14|  1|          66|             407|         407|           148|       2005|      2019|          Male|      7|           CHINA|Extranjeros|        NULL|            NULL|
|        552| 11|  1|          66|             407|         407|           148|       2008|      2019|          Male|      7|           CHINA|Extranjeros|        NULL|            NULL|
|        919|  9|  1|           4|             902|         407|           159|       2010|      2019|          Male|      7|           CHINA|    Almería|     Almería|       Ejido, El|
|        919| 49|  1|          66|             407|         407|           159|       1970|      2019|          Male|      7|           CHINA|Extranjeros|        NULL|            NULL|
+-----------+---+---+------------+----------------+------------+--------------+-----------+----------+--------------+-------+----------------+-----------+------------+----------------+
only showing top 20 rows

## Census2018 Transformations

In [0]:
df_census2018 = census2018.withColumnRenamed("NHOP", "SheetNumber")\
       .withColumnRenamed("EDAD", "Age")\
       .withColumnRenamed("SEXO", "Sex")\
       .withColumnRenamed("CPRON", "ProvinceCode")\
       .withColumnRenamed("CMUNN", "MunicipalityCode")\
       .withColumnRenamed("NACI", "BirthCountry")\
       .withColumnRenamed("BARRIO", "DistrictNumber")\
       .withColumn("YearOfBirth", (lit(2018) - col("Age").cast(IntegerType())))\
       .withColumn("censusYear", lit(2018))


df_census2018 = df_census2018.withColumn("SexDescription", F.when(F.col("Sex") == 1, "Male").when(F.col("Sex") == 6, "Female").otherwise("Unknown"))


for column in df_census2018.columns:
    df_census2018 = df_census2018.fillna('null', subset=[column])


df_census2018.printSchema()
df_census2018.show()
df_census2018.count()

root
 |-- SheetNumber: integer (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Sex: integer (nullable = true)
 |-- ProvinceCode: integer (nullable = true)
 |-- MunicipalityCode: integer (nullable = true)
 |-- BirthCountry: integer (nullable = true)
 |-- DistrictNumber: integer (nullable = true)
 |-- YearOfBirth: integer (nullable = true)
 |-- censusYear: integer (nullable = false)
 |-- SexDescription: string (nullable = false)

+-----------+---+---+------------+----------------+------------+--------------+-----------+----------+--------------+
|SheetNumber|Age|Sex|ProvinceCode|MunicipalityCode|BirthCountry|DistrictNumber|YearOfBirth|censusYear|SexDescription|
+-----------+---+---+------------+----------------+------------+--------------+-----------+----------+--------------+
|          8| 32|  1|          29|              67|         108|           133|       1986|      2018|          Male|
|         12| 26|  6|          29|              67|         108|           133|       1992|      2018|        Female|
|          5| 57|  6|          14|              30|         108|           133|       1961|      2018|        Female|
|         20| 64|  6|          11|              21|         108|           133|       1954|      2018|        Female|
|        318| 49|  1|          23|              50|         108|           133|       1969|      2018|          Male|
|        413| 44|  1|          29|              67|         108|           133|       1974|      2018|          Male|
|        483| 51|  6|          29|              67|         108|           133|       1967|      2018|        Female|
|         47| 82|  1|          42|              35|         108|           133|       1936|      2018|          Male|
|         32| 28|  1|          17|              79|         108|           133|       1990|      2018|          Male|
|         10| 81|  6|          14|              19|         108|           133|       1937|      2018|        Female|
|         16| 72|  1|          66|             228|         108|           133|       1946|      2018|          Male|
|         30| 49|  6|          29|              67|         108|           133|       1969|      2018|        Female|
|         37| 65|  6|          29|              39|         108|           133|       1953|      2018|        Female|
|         37| 63|  1|          29|               9|         108|           133|       1955|      2018|          Male|
|         20| 66|  1|          28|              79|         108|           133|       1952|      2018|          Male|
|        413| 40|  1|          29|              67|         108|           133|       1978|      2018|          Male|
|          9| 50|  1|          46|             250|         108|           133|       1968|      2018|          Male|
|         23|  8|  6|          29|              67|         108|           133|       2010|      2018|        Female|
|         35| 74|  6|          41|              91|         108|           133|       1944|      2018|        Female|
|         23| 11|  1|          29|              67|         108|           133|       2007|      2018|          Male|
+-----------+---+---+------------+----------------+------------+--------------+-----------+----------+--------------+
only showing top 20 rows

573832

### Join df_census2018 + countries + provinces + municipalities

In [0]:
## Unión con el dataframe de países
#df_full_census2018 = df_census2018.join(df_countries, df_census2018["BirthCountry"] == df_countries["CountryCode"], "left_outer") \
#                                        .drop(df_countries["CountryCode"])
#
#df_full_census2018 = df_full_census2018.join(df_provinces, (df_full_census2018["ProvinceCode"] == df_provinces["ProvinceCode"]), "left_outer") \
#                                       .drop(df_provinces["ProvinceCode"])\
#                                       .drop(df_full_census2018["ProvinceCode"])
#
## Unión con el dataframe de municipios
#df_full_census2018 = df_full_census2018.join(df_municipalities, (df_full_census2018["MunicipalityCode"] == df_municipalities["MunicipalityCode"]), #"left_outer")\
#    .drop(df_municipalities["MunicipalityCode"])
#
#
#df_full_census2018.show(n=50, truncate=False)
#
#df_full_census2018.printSchema()

+-----------+---+---+----------------+------------+--------------+-----------+----------+--------------+-------+-----------+--------+------------+------------+--------------------------+
|SheetNumber|Age|Sex|MunicipalityCode|BirthCountry|DistrictNumber|YearOfBirth|censusYear|SexDescription|Control|CountryName|Province|ProvinceCode|ProvinceName|MunicipalityName          |
+-----------+---+---+----------------+------------+--------------+-----------+----------+--------------+-------+-----------+--------+------------+------------+--------------------------+
|8          |32 |1  |67              |108         |133           |1986       |2018      |Male          |6      |ESPAÑA     |Málaga  |50          |Zaragoza    |Calatayud                 |
|8          |32 |1  |67              |108         |133           |1986       |2018      |Male          |6      |ESPAÑA     |Málaga  |49          |Zamora      |Ferreras de Arriba        |
|8          |32 |1  |67              |108         |133           |1986       |2018      |Male          |6      |ESPAÑA     |Málaga  |48          |Vizcaya     |Muxika                    |
|8          |32 |1  |67              |108         |133           |1986       |2018      |Male          |6      |ESPAÑA     |Málaga  |47          |Valladolid  |Fuente el Sol             |
|8          |32 |1  |67              |108         |133           |1986       |2018      |Male          |6      |ESPAÑA     |Málaga  |46          |Valencia    |Benisanó                  |
|8          |32 |1  |67              |108         |133           |1986       |2018      |Male          |6      |ESPAÑA     |Málaga  |45          |Toledo      |Gálvez                    |
|8          |32 |1  |67              |108         |133           |1986       |2018      |Male          |6      |ESPAÑA     |Málaga  |44          |Teruel      |Castelnou                 |
|8          |32 |1  |67              |108         |133           |1986       |2018      |Male          |6      |ESPAÑA     |Málaga  |43          |Tarragona   |Ginestar                  |
|8          |32 |1  |67              |108         |133           |1986       |2018      |Male          |6      |ESPAÑA     |Málaga  |41          |Sevilla     |Olivares                  |
|8          |32 |1  |67              |108         |133           |1986       |2018      |Male          |6      |ESPAÑA     |Málaga  |39          |Cantabria   |Ruesga                    |
|8          |32 |1  |67              |108         |133           |1986       |2018      |Male          |6      |ESPAÑA     |Málaga  |37          |Salamanca   |Cabrerizos                |
|8          |32 |1  |67              |108         |133           |1986       |2018      |Male          |6      |ESPAÑA     |Málaga  |34          |Palencia    |Dehesa de Montejo         |
|8          |32 |1  |67              |108         |133           |1986       |2018      |Male          |6      |ESPAÑA     |Málaga  |33          |Asturias    |Sobrescobio               |
|8          |32 |1  |67              |108         |133           |1986       |2018      |Male          |6      |ESPAÑA     |Málaga  |32          |Ourense     |Rairiz de Veiga           |
|8          |32 |1  |67              |108         |133           |1986       |2018      |Male          |6      |ESPAÑA     |Málaga  |31          |Navarra     |Carcastillo               |
|8          |32 |1  |67              |108         |133           |1986       |2018      |Male          |6      |ESPAÑA     |Málaga  |29          |Málaga      |Málaga                    |
|8          |32 |1  |67              |108         |133           |1986       |2018      |Male          |6      |ESPAÑA     |Málaga  |28          |Madrid      |Guadalix de la Sierra     |
|8          |32 |1  |67              |108         |133           |1986       |2018      |Male          |6      |ESPAÑA     |Málaga  |26          |La Rioja    |Gallinero de Cameros      |
|8          |32 |1  |67              |108         |133           |1986       |2018      |Male          |6      |ESPAÑA     |Málaga  |25          |Lleida      |Castelldans               |
|8          |32 |1  |67              |108         |133           |1986       |2018      |Male          |6      |ESPAÑA     |Málaga  |24          |León        |Encinedo                  |
|8          |32 |1  |67              |108         |133           |1986       |2018      |Male          |6      |ESPAÑA     |Málaga  |23          |Jaén        |Pegalajar                 |
|8          |32 |1  |67              |108         |133           |1986       |2018      |Male          |6      |ESPAÑA     |Málaga  |22          |Huesca      |Bonansa                   |
|8          |32 |1  |67              |108         |133           |1986       |2018      |Male          |6      |ESPAÑA     |Málaga  |21          |Huelva      |Santa Ana la Real         |
|8          |32 |1  |67              |108         |133           |1986       |2018      |Male          |6      |ESPAÑA     |Málaga  |20          |Guipúzcoa   |Errenteria                |
|8          |32 |1  |67              |108         |133           |1986       |2018      |Male          |6      |ESPAÑA     |Málaga  |19          |Guadalajara |Cardoso de la Sierra, El  |
|8          |32 |1  |67              |108         |133           |1986       |2018      |Male          |6      |ESPAÑA     |Málaga  |18          |Granada     |Diezma                    |
|8          |32 |1  |67              |108         |133           |1986       |2018      |Male          |6      |ESPAÑA     |Málaga  |17          |Girona      |Flaçà                     |
|8          |32 |1  |67              |108         |133           |1986       |2018      |Male          |6      |ESPAÑA     |Málaga  |16          |Cuenca      |Castejón                  |
|8          |32 |1  |67              |108         |133           |1986       |2018      |Male          |6      |ESPAÑA     |Málaga  |15          |Coruña (A)  |Pobra do Caramiñal, A     |
|8          |32 |1  |67              |108         |133           |1986       |2018      |Male          |6      |ESPAÑA     |Málaga  |14          |Córdoba     |Villafranca de Córdoba    |
|8          |32 |1  |67              |108         |133           |1986       |2018      |Male          |6      |ESPAÑA     |Málaga  |13          |Ciudad Real |Pozuelos de Calatrava, Los|
|8          |32 |1  |67              |108         |133           |1986       |2018      |Male          |6      |ESPAÑA     |Málaga  |12          |Castellón   |Geldo                     |
|8          |32 |1  |67              |108         |133           |1986       |2018      |Male          |6      |ESPAÑA     |Málaga  |10          |Cáceres     |Coria                     |
|8          |32 |1  |67              |108         |133           |1986       |2018      |Male          |6      |ESPAÑA     |Málaga  |9           |Burgos      |Canicosa de la Sierra     |
|8          |32 |1  |67              |108         |133           |1986       |2018      |Male          |6      |ESPAÑA     |Málaga  |8           |Barcelona   |Centelles                 |
|8          |32 |1  |67              |108         |133           |1986       |2018      |Male          |6      |ESPAÑA     |Málaga  |6           |Badajoz     |Higuera la Real           |
|8          |32 |1  |67              |108         |133           |1986       |2018      |Male          |6      |ESPAÑA     |Málaga  |5           |Ávila       |Chamartín                 |
|8          |32 |1  |67              |108         |133           |1986       |2018      |Male          |6      |ESPAÑA     |Málaga  |4           |Almería     |Ohanes                    |
|8          |32 |1  |67              |108         |133           |1986       |2018      |Male          |6      |ESPAÑA     |Málaga  |3           |Alicante    |Facheca                   |
|8          |32 |1  |67              |108         |133           |1986       |2018      |Male          |6      |ESPAÑA     |Málaga  |2           |Albacete    |Riópar                    |
|12         |26 |6  |67              |108         |133           |1992       |2018      |Female        |6      |ESPAÑA     |Málaga  |50          |Zaragoza    |Calatayud                 |
|12         |26 |6  |67              |108         |133           |1992       |2018      |Female        |6      |ESPAÑA     |Málaga  |49          |Zamora      |Ferreras de Arriba        |
|12         |26 |6  |67              |108         |133           |1992       |2018      |Female        |6      |ESPAÑA     |Málaga  |48          |Vizcaya     |Muxika                    |
|12         |26 |6  |67              |108         |133           |1992       |2018      |Female        |6      |ESPAÑA     |Málaga  |47          |Valladolid  |Fuente el Sol             |
|12         |26 |6  |67              |108         |133           |1992       |2018      |Female        |6      |ESPAÑA     |Málaga  |46          |Valencia    |Benisanó                  |
|12         |26 |6  |67              |108         |133           |1992       |2018      |Female        |6      |ESPAÑA     |Málaga  |45          |Toledo      |Gálvez                    |
|12         |26 |6  |67              |108         |133           |1992       |2018      |Female        |6      |ESPAÑA     |Málaga  |44          |Teruel      |Castelnou                 |
|12         |26 |6  |67              |108         |133           |1992       |2018      |Female        |6      |ESPAÑA     |Málaga  |43          |Tarragona   |Ginestar                  |
|12         |26 |6  |67              |108         |133           |1992       |2018      |Female        |6      |ESPAÑA     |Málaga  |41          |Sevilla     |Olivares                  |
|12         |26 |6  |67              |108         |133           |1992       |2018      |Female        |6      |ESPAÑA     |Málaga  |39          |Cantabria   |Ruesga                    |
+-----------+---+---+----------------+------------+--------------+-----------+----------+--------------+-------+-----------+--------+------------+------------+--------------------------+
only showing top 50 rows

root
 |-- SheetNumber: integer (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Sex: integer (nullable = true)
 |-- MunicipalityCode: integer (nullable = true)
 |-- BirthCountry: integer (nullable = true)
 |-- DistrictNumber: integer (nullable = true)
 |-- YearOfBirth: integer (nullable = true)
 |-- censusYear: integer (nullable = false)
 |-- SexDescription: string (nullable = false)
 |-- Control: integer (nullable = true)
 |-- CountryName: string (nullable = true)
 |-- Province: string (nullable = true)
 |-- ProvinceCode: integer (nullable = true)
 |-- ProvinceName: string (nullable = true)
 |-- MunicipalityName: string (nullable = true)

In [0]:
df_census2018 = df_census2018.join(df_countries, df_census2018["BirthCountry"] == df_countries["CountryCode"], "left_outer") \
                             .drop(df_countries["CountryCode"]) \
                             .withColumnRenamed("CountryName", "BirthCountryName")

df_census2018.show()
df_census2018.printSchema()
df_census2018.count()

+-----------+---+---+------------+----------------+------------+--------------+-----------+----------+--------------+-------+----------------+
|SheetNumber|Age|Sex|ProvinceCode|MunicipalityCode|BirthCountry|DistrictNumber|YearOfBirth|censusYear|SexDescription|Control|BirthCountryName|
+-----------+---+---+------------+----------------+------------+--------------+-----------+----------+--------------+-------+----------------+
|          8| 32|  1|          29|              67|         108|           133|       1986|      2018|          Male|      6|          ESPAÑA|
|         12| 26|  6|          29|              67|         108|           133|       1992|      2018|        Female|      6|          ESPAÑA|
|          5| 57|  6|          14|              30|         108|           133|       1961|      2018|        Female|      6|          ESPAÑA|
|         20| 64|  6|          11|              21|         108|           133|       1954|      2018|        Female|      6|          ESPAÑA|
|        318| 49|  1|          23|              50|         108|           133|       1969|      2018|          Male|      6|          ESPAÑA|
|        413| 44|  1|          29|              67|         108|           133|       1974|      2018|          Male|      6|          ESPAÑA|
|        483| 51|  6|          29|              67|         108|           133|       1967|      2018|        Female|      6|          ESPAÑA|
|         47| 82|  1|          42|              35|         108|           133|       1936|      2018|          Male|      6|          ESPAÑA|
|         32| 28|  1|          17|              79|         108|           133|       1990|      2018|          Male|      6|          ESPAÑA|
|         10| 81|  6|          14|              19|         108|           133|       1937|      2018|        Female|      6|          ESPAÑA|
|         16| 72|  1|          66|             228|         108|           133|       1946|      2018|          Male|      6|          ESPAÑA|
|         30| 49|  6|          29|              67|         108|           133|       1969|      2018|        Female|      6|          ESPAÑA|
|         37| 65|  6|          29|              39|         108|           133|       1953|      2018|        Female|      6|          ESPAÑA|
|         37| 63|  1|          29|               9|         108|           133|       1955|      2018|          Male|      6|          ESPAÑA|
|         20| 66|  1|          28|              79|         108|           133|       1952|      2018|          Male|      6|          ESPAÑA|
|        413| 40|  1|          29|              67|         108|           133|       1978|      2018|          Male|      6|          ESPAÑA|
|          9| 50|  1|          46|             250|         108|           133|       1968|      2018|          Male|      6|          ESPAÑA|
|         23|  8|  6|          29|              67|         108|           133|       2010|      2018|        Female|      6|          ESPAÑA|
|         35| 74|  6|          41|              91|         108|           133|       1944|      2018|        Female|      6|          ESPAÑA|
|         23| 11|  1|          29|              67|         108|           133|       2007|      2018|          Male|      6|          ESPAÑA|
+-----------+---+---+------------+----------------+------------+--------------+-----------+----------+--------------+-------+----------------+
only showing top 20 rows

root
 |-- SheetNumber: integer (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Sex: integer (nullable = true)
 |-- ProvinceCode: integer (nullable = true)
 |-- MunicipalityCode: integer (nullable = true)
 |-- BirthCountry: integer (nullable = true)
 |-- DistrictNumber: integer (nullable = true)
 |-- YearOfBirth: integer (nullable = true)
 |-- censusYear: integer (nullable = false)
 |-- SexDescription: string (nullable = false)
 |-- Control: integer (nullable = true)
 |-- BirthCountryName: string (nullable = true)

573987

In [0]:
df_census2018 = df_census2018.join(df_provinces, df_census2018["ProvinceCode"] == df_provinces["ProvinceCode"], "left_outer") \
                             .drop(df_provinces["ProvinceCode"]) \
                             .withColumnRenamed("ProvinceName", "ProvinceName")

df_census2018.show()
df_census2018.printSchema()
df_census2018.count()

+-----------+---+---+------------+----------------+------------+--------------+-----------+----------+--------------+-------+----------------+-----------+
|SheetNumber|Age|Sex|ProvinceCode|MunicipalityCode|BirthCountry|DistrictNumber|YearOfBirth|censusYear|SexDescription|Control|BirthCountryName|   Province|
+-----------+---+---+------------+----------------+------------+--------------+-----------+----------+--------------+-------+----------------+-----------+
|          8| 32|  1|          29|              67|         108|           133|       1986|      2018|          Male|      6|          ESPAÑA|     Málaga|
|         12| 26|  6|          29|              67|         108|           133|       1992|      2018|        Female|      6|          ESPAÑA|     Málaga|
|          5| 57|  6|          14|              30|         108|           133|       1961|      2018|        Female|      6|          ESPAÑA|    Córdoba|
|         20| 64|  6|          11|              21|         108|           133|       1954|      2018|        Female|      6|          ESPAÑA|      Cádiz|
|        318| 49|  1|          23|              50|         108|           133|       1969|      2018|          Male|      6|          ESPAÑA|       Jaén|
|        413| 44|  1|          29|              67|         108|           133|       1974|      2018|          Male|      6|          ESPAÑA|     Málaga|
|        483| 51|  6|          29|              67|         108|           133|       1967|      2018|        Female|      6|          ESPAÑA|     Málaga|
|         47| 82|  1|          42|              35|         108|           133|       1936|      2018|          Male|      6|          ESPAÑA|      Soria|
|         32| 28|  1|          17|              79|         108|           133|       1990|      2018|          Male|      6|          ESPAÑA|     Girona|
|         10| 81|  6|          14|              19|         108|           133|       1937|      2018|        Female|      6|          ESPAÑA|    Córdoba|
|         16| 72|  1|          66|             228|         108|           133|       1946|      2018|          Male|      6|          ESPAÑA|Extranjeros|
|         30| 49|  6|          29|              67|         108|           133|       1969|      2018|        Female|      6|          ESPAÑA|     Málaga|
|         37| 65|  6|          29|              39|         108|           133|       1953|      2018|        Female|      6|          ESPAÑA|     Málaga|
|         37| 63|  1|          29|               9|         108|           133|       1955|      2018|          Male|      6|          ESPAÑA|     Málaga|
|         20| 66|  1|          28|              79|         108|           133|       1952|      2018|          Male|      6|          ESPAÑA|     Madrid|
|        413| 40|  1|          29|              67|         108|           133|       1978|      2018|          Male|      6|          ESPAÑA|     Málaga|
|          9| 50|  1|          46|             250|         108|           133|       1968|      2018|          Male|      6|          ESPAÑA|   Valencia|
|         23|  8|  6|          29|              67|         108|           133|       2010|      2018|        Female|      6|          ESPAÑA|     Málaga|
|         35| 74|  6|          41|              91|         108|           133|       1944|      2018|        Female|      6|          ESPAÑA|    Sevilla|
|         23| 11|  1|          29|              67|         108|           133|       2007|      2018|          Male|      6|          ESPAÑA|     Málaga|
+-----------+---+---+------------+----------------+------------+--------------+-----------+----------+--------------+-------+----------------+-----------+
only showing top 20 rows

root
 |-- SheetNumber: integer (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Sex: integer (nullable = true)
 |-- ProvinceCode: integer (nullable = true)
 |-- MunicipalityCode: integer (nullable = true)
 |-- BirthCountry: integer (nullable = true)
 |-- DistrictNumber: integer (nullable = true)
 |-- YearOfBirth: integer (nullable = true)
 |-- censusYear: integer (nullable = false)
 |-- SexDescription: string (nullable = false)
 |-- Control: integer (nullable = true)
 |-- BirthCountryName: string (nullable = true)
 |-- Province: string (nullable = true)

573987

In [0]:
df_census2018 = df_census2018.join(df_municipalities, (df_census2018["MunicipalityCode"] == df_municipalities["MunicipalityCode"]) & (df_census2018["ProvinceCode"] == df_municipalities["ProvinceCode"]), "left_outer") \
                             .drop(df_municipalities["MunicipalityCode"]) \
                             .drop(df_municipalities["ProvinceCode"]) \
                             .withColumnRenamed("MunicipalityName", "MunicipalityName")



df_census2018.show()
df_census2018.printSchema()
df_census2018.count()

+-----------+---+---+------------+----------------+------------+--------------+-----------+----------+--------------+-------+----------------+-----------+------------+--------------------+
|SheetNumber|Age|Sex|ProvinceCode|MunicipalityCode|BirthCountry|DistrictNumber|YearOfBirth|censusYear|SexDescription|Control|BirthCountryName|   Province|ProvinceName|    MunicipalityName|
+-----------+---+---+------------+----------------+------------+--------------+-----------+----------+--------------+-------+----------------+-----------+------------+--------------------+
|          8| 32|  1|          29|              67|         108|           133|       1986|      2018|          Male|      6|          ESPAÑA|     Málaga|      Málaga|              Málaga|
|         12| 26|  6|          29|              67|         108|           133|       1992|      2018|        Female|      6|          ESPAÑA|     Málaga|      Málaga|              Málaga|
|          5| 57|  6|          14|              30|         108|           133|       1961|      2018|        Female|      6|          ESPAÑA|    Córdoba|     Córdoba|      Fuente Palmera|
|         20| 64|  6|          11|              21|         108|           133|       1954|      2018|        Female|      6|          ESPAÑA|      Cádiz|       Cádiz|Jimena de la Fron...|
|        318| 49|  1|          23|              50|         108|           133|       1969|      2018|          Male|      6|          ESPAÑA|       Jaén|        Jaén|                Jaén|
|        413| 44|  1|          29|              67|         108|           133|       1974|      2018|          Male|      6|          ESPAÑA|     Málaga|      Málaga|              Málaga|
|        483| 51|  6|          29|              67|         108|           133|       1967|      2018|        Female|      6|          ESPAÑA|     Málaga|      Málaga|              Málaga|
|         47| 82|  1|          42|              35|         108|           133|       1936|      2018|          Male|      6|          ESPAÑA|      Soria|       Soria|   Berlanga de Duero|
|         32| 28|  1|          17|              79|         108|           133|       1990|      2018|          Male|      6|          ESPAÑA|     Girona|      Girona|              Girona|
|         10| 81|  6|          14|              19|         108|           133|       1937|      2018|        Female|      6|          ESPAÑA|    Córdoba|     Córdoba|      Castro del Río|
|         16| 72|  1|          66|             228|         108|           133|       1946|      2018|          Male|      6|          ESPAÑA|Extranjeros|        NULL|                NULL|
|         30| 49|  6|          29|              67|         108|           133|       1969|      2018|        Female|      6|          ESPAÑA|     Málaga|      Málaga|              Málaga|
|         37| 65|  6|          29|              39|         108|           133|       1953|      2018|        Female|      6|          ESPAÑA|     Málaga|      Málaga|         Casabermeja|
|         37| 63|  1|          29|               9|         108|           133|       1955|      2018|          Male|      6|          ESPAÑA|     Málaga|      Málaga|            Almáchar|
|         20| 66|  1|          28|              79|         108|           133|       1952|      2018|          Male|      6|          ESPAÑA|     Madrid|      Madrid|              Madrid|
|        413| 40|  1|          29|              67|         108|           133|       1978|      2018|          Male|      6|          ESPAÑA|     Málaga|      Málaga|              Málaga|
|          9| 50|  1|          46|             250|         108|           133|       1968|      2018|          Male|      6|          ESPAÑA|   Valencia|    Valencia|            Valencia|
|         23|  8|  6|          29|              67|         108|           133|       2010|      2018|        Female|      6|          ESPAÑA|     Málaga|      Málaga|              Málaga|
|         35| 74|  6|          41|              91|         108|           133|       1944|      2018|        Female|      6|          ESPAÑA|    Sevilla|     Sevilla|             Sevilla|
|         23| 11|  1|          29|              67|         108|           133|       2007|      2018|          Male|      6|          ESPAÑA|     Málaga|      Málaga|              Málaga|
+-----------+---+---+------------+----------------+------------+--------------+-----------+----------+--------------+-------+----------------+-----------+------------+--------------------+
only showing top 20 rows

root
 |-- SheetNumber: integer (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Sex: integer (nullable = true)
 |-- ProvinceCode: integer (nullable = true)
 |-- MunicipalityCode: integer (nullable = true)
 |-- BirthCountry: integer (nullable = true)
 |-- DistrictNumber: integer (nullable = true)
 |-- YearOfBirth: integer (nullable = true)
 |-- censusYear: integer (nullable = false)
 |-- SexDescription: string (nullable = false)
 |-- Control: integer (nullable = true)
 |-- BirthCountryName: string (nullable = true)
 |-- Province: string (nullable = true)
 |-- ProvinceName: string (nullable = true)
 |-- MunicipalityName: string (nullable = true)

575606

### filtering and testing

In [0]:
df_filtered_2018 = df_census2018.where(df_census2018["BirthCountryName"] == "INDIA").show()

+-----------+---+---+------------+----------------+------------+--------------+-----------+----------+--------------+-------+----------------+-----------+------------+----------------+
|SheetNumber|Age|Sex|ProvinceCode|MunicipalityCode|BirthCountry|DistrictNumber|YearOfBirth|censusYear|SexDescription|Control|BirthCountryName|   Province|ProvinceName|MunicipalityName|
+-----------+---+---+------------+----------------+------------+--------------+-----------+----------+--------------+-------+----------------+-----------+------------+----------------+
|       1495| 26|  1|          66|             410|         410|           122|       1992|      2018|          Male|      0|           INDIA|Extranjeros|        NULL|            NULL|
|       1079| 38|  1|          66|             410|         410|           122|       1980|      2018|          Male|      0|           INDIA|Extranjeros|        NULL|            NULL|
|        513| 84|  1|          66|             410|         410|            76|       1934|      2018|          Male|      0|           INDIA|Extranjeros|        NULL|            NULL|
|       2023| 33|  6|          66|             410|         410|           130|       1985|      2018|        Female|      0|           INDIA|Extranjeros|        NULL|            NULL|
|       2023| 36|  1|          66|             410|         410|           130|       1982|      2018|          Male|      0|           INDIA|Extranjeros|        NULL|            NULL|
|       2023|  3|  1|          29|              69|         410|           130|       2015|      2018|          Male|      0|           INDIA|     Málaga|      Málaga|        Marbella|
|       2023| 28|  1|          66|             410|         410|           130|       1990|      2018|          Male|      0|           INDIA|Extranjeros|        NULL|            NULL|
|        204| 32|  1|          66|             410|         410|           183|       1986|      2018|          Male|      0|           INDIA|Extranjeros|        NULL|            NULL|
|        770| 12|  1|          66|             410|         410|           157|       2006|      2018|          Male|      0|           INDIA|Extranjeros|        NULL|            NULL|
|        770| 33|  6|          66|             410|         410|           157|       1985|      2018|        Female|      0|           INDIA|Extranjeros|        NULL|            NULL|
|        770| 49|  1|          66|             410|         410|           157|       1969|      2018|          Male|      0|           INDIA|Extranjeros|        NULL|            NULL|
|        606| 37|  1|          66|             410|         410|           113|       1981|      2018|          Male|      0|           INDIA|Extranjeros|        NULL|            NULL|
|        606|  1|  1|          29|              67|         410|           113|       2017|      2018|          Male|      0|           INDIA|     Málaga|      Málaga|          Málaga|
|        606| 32|  6|          66|             410|         410|           113|       1986|      2018|        Female|      0|           INDIA|Extranjeros|        NULL|            NULL|
|       1263| 45|  6|          66|             410|         410|           310|       1973|      2018|        Female|      0|           INDIA|Extranjeros|        NULL|            NULL|
|        789| 10|  6|          66|             410|         410|            76|       2008|      2018|        Female|      0|           INDIA|Extranjeros|        NULL|            NULL|
|        789| 44|  1|          66|             410|         410|            76|       1974|      2018|          Male|      0|           INDIA|Extranjeros|        NULL|            NULL|
|        789| 33|  6|          66|             410|         410|            76|       1985|      2018|        Female|      0|           INDIA|Extranjeros|        NULL|            NULL|
|        789| 11|  1|          66|             410|         410|            76|       2007|      2018|          Male|      0|           INDIA|Extranjeros|        NULL|            NULL|
|        789|  3|  6|          29|              67|         410|            76|       2015|      2018|        Female|      0|           INDIA|     Málaga|      Málaga|          Málaga|
+-----------+---+---+------------+----------------+------------+--------------+-----------+----------+--------------+-------+----------------+-----------+------------+----------------+
only showing top 20 rows

## COMBINING CENSUS df's

In [0]:
dataframes = [df_census2018, df_census2019, df_census2020, df_census2021]

df_census_combined = reduce(DataFrame.unionByName, dataframes)


df_census_combined.show()
df_census_combined.printSchema()
df_census_combined.count()

+-----------+---+---+------------+----------------+------------+--------------+-----------+----------+--------------+-------+----------------+-----------+------------+--------------------+
|SheetNumber|Age|Sex|ProvinceCode|MunicipalityCode|BirthCountry|DistrictNumber|YearOfBirth|censusYear|SexDescription|Control|BirthCountryName|   Province|ProvinceName|    MunicipalityName|
+-----------+---+---+------------+----------------+------------+--------------+-----------+----------+--------------+-------+----------------+-----------+------------+--------------------+
|          8| 32|  1|          29|              67|         108|           133|       1986|      2018|          Male|      6|          ESPAÑA|     Málaga|      Málaga|              Málaga|
|         12| 26|  6|          29|              67|         108|           133|       1992|      2018|        Female|      6|          ESPAÑA|     Málaga|      Málaga|              Málaga|
|          5| 57|  6|          14|              30|         108|           133|       1961|      2018|        Female|      6|          ESPAÑA|    Córdoba|     Córdoba|      Fuente Palmera|
|         20| 64|  6|          11|              21|         108|           133|       1954|      2018|        Female|      6|          ESPAÑA|      Cádiz|       Cádiz|Jimena de la Fron...|
|        318| 49|  1|          23|              50|         108|           133|       1969|      2018|          Male|      6|          ESPAÑA|       Jaén|        Jaén|                Jaén|
|        413| 44|  1|          29|              67|         108|           133|       1974|      2018|          Male|      6|          ESPAÑA|     Málaga|      Málaga|              Málaga|
|        483| 51|  6|          29|              67|         108|           133|       1967|      2018|        Female|      6|          ESPAÑA|     Málaga|      Málaga|              Málaga|
|         47| 82|  1|          42|              35|         108|           133|       1936|      2018|          Male|      6|          ESPAÑA|      Soria|       Soria|   Berlanga de Duero|
|         32| 28|  1|          17|              79|         108|           133|       1990|      2018|          Male|      6|          ESPAÑA|     Girona|      Girona|              Girona|
|         10| 81|  6|          14|              19|         108|           133|       1937|      2018|        Female|      6|          ESPAÑA|    Córdoba|     Córdoba|      Castro del Río|
|         16| 72|  1|          66|             228|         108|           133|       1946|      2018|          Male|      6|          ESPAÑA|Extranjeros|        NULL|                NULL|
|         30| 49|  6|          29|              67|         108|           133|       1969|      2018|        Female|      6|          ESPAÑA|     Málaga|      Málaga|              Málaga|
|         37| 65|  6|          29|              39|         108|           133|       1953|      2018|        Female|      6|          ESPAÑA|     Málaga|      Málaga|         Casabermeja|
|         37| 63|  1|          29|               9|         108|           133|       1955|      2018|          Male|      6|          ESPAÑA|     Málaga|      Málaga|            Almáchar|
|         20| 66|  1|          28|              79|         108|           133|       1952|      2018|          Male|      6|          ESPAÑA|     Madrid|      Madrid|              Madrid|
|        413| 40|  1|          29|              67|         108|           133|       1978|      2018|          Male|      6|          ESPAÑA|     Málaga|      Málaga|              Málaga|
|          9| 50|  1|          46|             250|         108|           133|       1968|      2018|          Male|      6|          ESPAÑA|   Valencia|    Valencia|            Valencia|
|         23|  8|  6|          29|              67|         108|           133|       2010|      2018|        Female|      6|          ESPAÑA|     Málaga|      Málaga|              Málaga|
|         35| 74|  6|          41|              91|         108|           133|       1944|      2018|        Female|      6|          ESPAÑA|    Sevilla|     Sevilla|             Sevilla|
|         23| 11|  1|          29|              67|         108|           133|       2007|      2018|          Male|      6|          ESPAÑA|     Málaga|      Málaga|              Málaga|
+-----------+---+---+------------+----------------+------------+--------------+-----------+----------+--------------+-------+----------------+-----------+------------+--------------------+
only showing top 20 rows

root
 |-- SheetNumber: integer (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Sex: integer (nullable = true)
 |-- ProvinceCode: integer (nullable = true)
 |-- MunicipalityCode: integer (nullable = true)
 |-- BirthCountry: integer (nullable = true)
 |-- DistrictNumber: integer (nullable = true)
 |-- YearOfBirth: integer (nullable = true)
 |-- censusYear: integer (nullable = false)
 |-- SexDescription: string (nullable = false)
 |-- Control: integer (nullable = true)
 |-- BirthCountryName: string (nullable = true)
 |-- Province: string (nullable = true)
 |-- ProvinceName: string (nullable = true)
 |-- MunicipalityName: string (nullable = true)

2317590

# 3. GEOData HANDLING

### Imports

In [0]:
from pyspark.sql import functions as F
from pyspark.sql.functions import lit, col
from pyspark.sql.types import IntegerType
from pyspark.sql.functions import split, col
from pyspark.sql.functions import col, regexp_replace

### Reading csv file from Bronze Layer

In [0]:
geoNeighbourhood = spark.read.format("csv").option("header","true").option("inferSchema", "true").load("/mnt/censusmalaga/bronze/geohoods.csv")
geoNeighbourhood.show()
geoNeighbourhood.printSchema()
geoNeighbourhood.count()

+--------------------+---------+---------+--------------------+--------------------+--------------------+
|                 FID|ID_BARRIO|NUMBARRIO|           NOMBARRIO|         NOMCOMUNBAR|             SDOAREA|
+--------------------+---------+---------+--------------------+--------------------+--------------------+
|da_cartografiaBar...|     1481|      307|CAÑADA DE CEUTA  ...|CAÑADA DE CEUTA  ...|POLYGON ((-4.5144...|
|da_cartografiaBar...|     1483|      321|SAN JUAN-EL ALBAR...|SAN JUAN-EL ALBAR...|POLYGON ((-4.5152...|
|da_cartografiaBar...|     1907|      219| PARQ EMP SANTA CRUZ|  POL IND SANTA CRUZ|POLYGON ((-4.4973...|
|da_cartografiaBar...|     1903|      218|PARQ EMP GUADALHORCE| POL IND GUADALHORCE|POLYGON ((-4.4922...|
|da_cartografiaBar...|     1814|       39|LA TORRECILLA    ...|LA TORRECILLA    ...|POLYGON ((-4.3929...|
|da_cartografiaBar...|     1799|       61|BARCENILLAS      ...|BARCENILLAS      ...|POLYGON ((-4.4068...|
|da_cartografiaBar...|     1829|       91|LOS CASINIS      ...|LOS CASINIS      ...|POLYGON ((-4.4196...|
|da_cartografiaBar...|     1832|       93|CORTIJO BAZAN    ...|CORTIJO BAZAN    ...|POLYGON ((-4.4120...|
|da_cartografiaBar...|     1932|      220|PARQ EMP SANTA TE...|POL IND SANTA TERESA|POLYGON ((-4.4995...|
|da_cartografiaBar...|     1955|      217| ESTACIÓN LOS PRADOS| ESTACIÓN LOS PRADOS|POLYGON ((-4.4925...|
|da_cartografiaBar...|     1967|      190|PARQ EMP SANTA BA...|POL IND SANTA BAR...|POLYGON ((-4.4593...|
|da_cartografiaBar...|     1833|       81|LOS ANTONIOS     ...|LOS ANTONIOS     ...|POLYGON ((-4.4117...|
|da_cartografiaBar...|     1789|       90|SAN MIGUEL       ...|SAN MIGUEL       ...|POLYGON ((-4.4173...|
|da_cartografiaBar...|     1989|      229|POL IND HAZA DE L...|POL IND HAZA DE L...|POLYGON ((-4.4653...|
|da_cartografiaBar...|     2004|      223|PARQ EMP LA HUERT...|POL IND LA HUERTE...|POLYGON ((-4.5121...|
|da_cartografiaBar...|     1719|      101|FINCA SAN JOSE   ...|FINCA SAN JOSE   ...|POLYGON ((-4.4251...|
|da_cartografiaBar...|     1506|      280|PILAR DEL PRADO  ...|PILAR DEL PRADO  ...|POLYGON ((-4.5352...|
|da_cartografiaBar...|     1538|      312|CHURRIANA        ...|CHURRIANA        ...|POLYGON ((-4.5046...|
|da_cartografiaBar...|     1537|      331|AEROPUERTO BASE A...|AEROPUERTO BASE A...|POLYGON ((-4.5165...|
|da_cartografiaBar...|     1539|      510|LA TOSCA         ...|LA TOSCA         ...|POLYGON ((-4.5088...|
+--------------------+---------+---------+--------------------+--------------------+--------------------+
only showing top 20 rows

root
 |-- FID: string (nullable = true)
 |-- ID_BARRIO: integer (nullable = true)
 |-- NUMBARRIO: integer (nullable = true)
 |-- NOMBARRIO: string (nullable = true)
 |-- NOMCOMUNBAR: string (nullable = true)
 |-- SDOAREA: string (nullable = true)

419

In [0]:
df_area_perimeter = spark.read.format("csv").option("header","true").option("inferSchema", "true").load("/mnt/censusmalaga/bronze/geoPerim_Area.csv")
df_centroids = spark.read.format("csv").option("header","true").option("inferSchema", "true").load("/mnt/censusmalaga/bronze/geoCentroids.csv")

In [0]:
df_area_perimeter.show()
df_area_perimeter.printSchema()
df_area_perimeter.count()

+--------------------+---------+---------+--------------------+--------------------+------------------+----------------+----------------+
|                  id|ID_BARRIO|NUMBARRIO|           NOMBARRIO|         NOMCOMUNBAR|              Area|       Perimeter|  Areal_Roudness|
+--------------------+---------+---------+--------------------+--------------------+------------------+----------------+----------------+
|da_cartografiaBar...|     1481|      307|CAÑADA DE CEUTA  ...|CAÑADA DE CEUTA  ...| 0.701350887144745|5.07877288194578|58.3730176742825|
|da_cartografiaBar...|     1483|      321|SAN JUAN-EL ALBAR...|SAN JUAN-EL ALBAR...| 0.119296166043464|1.80644236512815|67.6849940987973|
|da_cartografiaBar...|     1907|      219| PARQ EMP SANTA CRUZ|  POL IND SANTA CRUZ| 0.217098490500563|2.05485075984035|80.2696517140211|
|da_cartografiaBar...|     1903|      218|PARQ EMP GUADALHORCE| POL IND GUADALHORCE|  2.41414116179941|8.36031901799365|65.7902812038638|
|da_cartografiaBar...|     1814|       39|LA TORRECILLA    ...|LA TORRECILLA    ...|0.0779993264614513|1.46935145620861|67.2857349603464|
|da_cartografiaBar...|     1799|       61|BARCENILLAS      ...|BARCENILLAS      ...|0.0882932183024387|1.71788838314691|61.2310903101391|
|da_cartografiaBar...|     1829|       91|LOS CASINIS      ...|LOS CASINIS      ...| 0.059052466313134|1.09366426529924|78.6571597315372|
|da_cartografiaBar...|     1832|       93|CORTIJO BAZAN    ...|CORTIJO BAZAN    ...|  0.27180431029331| 3.4470711714242|53.5403469850621|
|da_cartografiaBar...|     1932|      220|PARQ EMP SANTA TE...|POL IND SANTA TERESA| 0.386730630259697|3.09971175001211|71.0209108547699|
|da_cartografiaBar...|     1955|      217| ESTACIÓN LOS PRADOS| ESTACIÓN LOS PRADOS| 0.525918272824723|6.39494618833611|40.1444486748773|
|da_cartografiaBar...|     1967|      190|PARQ EMP SANTA BA...|POL IND SANTA BAR...| 0.194154740909272|2.38208062743834|65.4818295031437|
|da_cartografiaBar...|     1833|       81|LOS ANTONIOS     ...|LOS ANTONIOS     ...| 0.112248711300114|1.55465075338858| 76.288855963229|
|da_cartografiaBar...|     1789|       90|SAN MIGUEL       ...|SAN MIGUEL       ...|  0.15799962773472|1.80055693865087|78.1491816039208|
|da_cartografiaBar...|     1989|      229|POL IND HAZA DE L...|POL IND HAZA DE L...| 0.313214454112876|3.52336897894948|56.2297345713805|
|da_cartografiaBar...|     2004|      223|PARQ EMP LA HUERT...|POL IND LA HUERTE...| 0.131227870529921|1.58313684415656|81.0023925003434|
|da_cartografiaBar...|     1719|      101|FINCA SAN JOSE   ...|FINCA SAN JOSE   ...| 0.236560624963281|2.82654135060932|60.9142846126494|
|da_cartografiaBar...|     1506|      280|PILAR DEL PRADO  ...|PILAR DEL PRADO  ...|0.0902783373939512|1.39518942159304|76.2363093101877|
|da_cartografiaBar...|     1538|      312|CHURRIANA        ...|CHURRIANA        ...| 0.145001535573894|3.13749831712242|42.9641338798612|
|da_cartografiaBar...|     1537|      331|AEROPUERTO BASE A...|AEROPUERTO BASE A...|  6.27206575384798|14.8722335501829|59.6118179502758|
|da_cartografiaBar...|     1539|      510|LA TOSCA         ...|LA TOSCA         ...|0.0567911721896234|1.02857616254045|82.0176314178729|
+--------------------+---------+---------+--------------------+--------------------+------------------+----------------+----------------+
only showing top 20 rows

root
 |-- id: string (nullable = true)
 |-- ID_BARRIO: integer (nullable = true)
 |-- NUMBARRIO: integer (nullable = true)
 |-- NOMBARRIO: string (nullable = true)
 |-- NOMCOMUNBAR: string (nullable = true)
 |-- Area: double (nullable = true)
 |-- Perimeter: double (nullable = true)
 |-- Areal_Roudness: double (nullable = true)

419

In [0]:
df_centroids.show()
df_centroids.printSchema()
df_centroids.count()

+-----------------+------------+--------------------+---------+---------+--------------------+--------------------+
|                x|           y|                  id|ID_BARRIO|NUMBARRIO|           NOMBARRIO|         NOMCOMUNBAR|
+-----------------+------------+--------------------+---------+---------+--------------------+--------------------+
|-4.51450297202484| 36.65247246|da_cartografiaBar...|     1481|      307|CAÑADA DE CEUTA  ...|CAÑADA DE CEUTA  ...|
|-4.51310058391924|36.662342585|da_cartografiaBar...|     1483|      321|SAN JUAN-EL ALBAR...|SAN JUAN-EL ALBAR...|
|-4.49419718902552|36.699862025|da_cartografiaBar...|     1907|      219| PARQ EMP SANTA CRUZ|  POL IND SANTA CRUZ|
|-4.48053383160629|36.693641175|da_cartografiaBar...|     1903|      218|PARQ EMP GUADALHORCE| POL IND GUADALHORCE|
|-4.39144409392298| 36.72301841|da_cartografiaBar...|     1814|       39|LA TORRECILLA    ...|LA TORRECILLA    ...|
|-4.40882388020586| 36.72613369|da_cartografiaBar...|     1799|       61|BARCENILLAS      ...|BARCENILLAS      ...|
|  -4.418852776081|36.745431865|da_cartografiaBar...|     1829|       91|LOS CASINIS      ...|LOS CASINIS      ...|
|-4.41116051455645| 36.74645642|da_cartografiaBar...|     1832|       93|CORTIJO BAZAN    ...|CORTIJO BAZAN    ...|
|-4.49812828523172|36.697393935|da_cartografiaBar...|     1932|      220|PARQ EMP SANTA TE...|POL IND SANTA TERESA|
| -4.4795158726891|36.698660105|da_cartografiaBar...|     1955|      217| ESTACIÓN LOS PRADOS| ESTACIÓN LOS PRADOS|
|-4.46270048795698| 36.69235629|da_cartografiaBar...|     1967|      190|PARQ EMP SANTA BA...|POL IND SANTA BAR...|
|-4.41040816030319|36.736674465|da_cartografiaBar...|     1833|       81|LOS ANTONIOS     ...|LOS ANTONIOS     ...|
| -4.4194501044544|  36.7334368|da_cartografiaBar...|     1789|       90|SAN MIGUEL       ...|SAN MIGUEL       ...|
|-4.46568371800736| 36.68775535|da_cartografiaBar...|     1989|      229|POL IND HAZA DE L...|POL IND HAZA DE L...|
|-4.50986337267904| 36.70404712|da_cartografiaBar...|     2004|      223|PARQ EMP LA HUERT...|POL IND LA HUERTE...|
|-4.42360350139829| 36.75842554|da_cartografiaBar...|     1719|      101|FINCA SAN JOSE   ...|FINCA SAN JOSE   ...|
|-4.53382666874682|  36.7214112|da_cartografiaBar...|     1506|      280|PILAR DEL PRADO  ...|PILAR DEL PRADO  ...|
|-4.50212202881389| 36.66792558|da_cartografiaBar...|     1538|      312|CHURRIANA        ...|CHURRIANA        ...|
|-4.49095342805318| 36.67675741|da_cartografiaBar...|     1537|      331|AEROPUERTO BASE A...|AEROPUERTO BASE A...|
|-4.50700317211195| 36.67016036|da_cartografiaBar...|     1539|      510|LA TOSCA         ...|LA TOSCA         ...|
+-----------------+------------+--------------------+---------+---------+--------------------+--------------------+
only showing top 20 rows

root
 |-- x: double (nullable = true)
 |-- y: double (nullable = true)
 |-- id: string (nullable = true)
 |-- ID_BARRIO: integer (nullable = true)
 |-- NUMBARRIO: integer (nullable = true)
 |-- NOMBARRIO: string (nullable = true)
 |-- NOMCOMUNBAR: string (nullable = true)

419

### GeoData Transformations

In [0]:
df_geoHoods = geoNeighbourhood.withColumnRenamed("FID", "FeatureID")\
                       .withColumnRenamed("ID_BARRIO", "DistrictID")\
                       .withColumnRenamed("NUMBARRIO", "DistrictNumber")\
                       .withColumnRenamed("NOMBARRIO", "DistrictName")\
                       .withColumnRenamed("NOMCOMUNBAR", "CommonDistrictName")\
                       .withColumnRenamed("SDOAREA", "Geometry")


df_geoHoods = df_geoHoods.withColumn("FeatureID", regexp_replace(col("FeatureID"), "da_cartografiaBarrio.", ""))

df_geoHoods.show()
df_geoHoods.printSchema()
df_geoHoods.count()

+---------+----------+--------------+--------------------+--------------------+--------------------+
|FeatureID|DistrictID|DistrictNumber|        DistrictName|  CommonDistrictName|            Geometry|
+---------+----------+--------------+--------------------+--------------------+--------------------+
|     1481|      1481|           307|CAÑADA DE CEUTA  ...|CAÑADA DE CEUTA  ...|POLYGON ((-4.5144...|
|     1483|      1483|           321|SAN JUAN-EL ALBAR...|SAN JUAN-EL ALBAR...|POLYGON ((-4.5152...|
|     1907|      1907|           219| PARQ EMP SANTA CRUZ|  POL IND SANTA CRUZ|POLYGON ((-4.4973...|
|     1903|      1903|           218|PARQ EMP GUADALHORCE| POL IND GUADALHORCE|POLYGON ((-4.4922...|
|     1814|      1814|            39|LA TORRECILLA    ...|LA TORRECILLA    ...|POLYGON ((-4.3929...|
|     1799|      1799|            61|BARCENILLAS      ...|BARCENILLAS      ...|POLYGON ((-4.4068...|
|     1829|      1829|            91|LOS CASINIS      ...|LOS CASINIS      ...|POLYGON ((-4.4196...|
|     1832|      1832|            93|CORTIJO BAZAN    ...|CORTIJO BAZAN    ...|POLYGON ((-4.4120...|
|     1932|      1932|           220|PARQ EMP SANTA TE...|POL IND SANTA TERESA|POLYGON ((-4.4995...|
|     1955|      1955|           217| ESTACIÓN LOS PRADOS| ESTACIÓN LOS PRADOS|POLYGON ((-4.4925...|
|     1967|      1967|           190|PARQ EMP SANTA BA...|POL IND SANTA BAR...|POLYGON ((-4.4593...|
|     1833|      1833|            81|LOS ANTONIOS     ...|LOS ANTONIOS     ...|POLYGON ((-4.4117...|
|     1789|      1789|            90|SAN MIGUEL       ...|SAN MIGUEL       ...|POLYGON ((-4.4173...|
|     1989|      1989|           229|POL IND HAZA DE L...|POL IND HAZA DE L...|POLYGON ((-4.4653...|
|     2004|      2004|           223|PARQ EMP LA HUERT...|POL IND LA HUERTE...|POLYGON ((-4.5121...|
|     1719|      1719|           101|FINCA SAN JOSE   ...|FINCA SAN JOSE   ...|POLYGON ((-4.4251...|
|     1506|      1506|           280|PILAR DEL PRADO  ...|PILAR DEL PRADO  ...|POLYGON ((-4.5352...|
|     1538|      1538|           312|CHURRIANA        ...|CHURRIANA        ...|POLYGON ((-4.5046...|
|     1537|      1537|           331|AEROPUERTO BASE A...|AEROPUERTO BASE A...|POLYGON ((-4.5165...|
|     1539|      1539|           510|LA TOSCA         ...|LA TOSCA         ...|POLYGON ((-4.5088...|
+---------+----------+--------------+--------------------+--------------------+--------------------+
only showing top 20 rows

root
 |-- FeatureID: string (nullable = true)
 |-- DistrictID: integer (nullable = true)
 |-- DistrictNumber: integer (nullable = true)
 |-- DistrictName: string (nullable = true)
 |-- CommonDistrictName: string (nullable = true)
 |-- Geometry: string (nullable = true)

419

In [0]:
df_area_perimeter = df_area_perimeter.withColumnRenamed("id", "FeatureID")\
                       .withColumnRenamed("ID_BARRIO", "DistrictID")\
                       .withColumnRenamed("NUMBARRIO", "DistrictNumber")\
                       .withColumnRenamed("NOMBARRIO", "DistrictName")\
                       .withColumnRenamed("NOMCOMUNBAR", "CommonDistrictName")


df_area_perimeter = df_area_perimeter.withColumn("FeatureID", regexp_replace(col("FeatureID"), "da_cartografiaBarrio.", ""))

df_area_perimeter.show()
df_area_perimeter.printSchema()
df_area_perimeter.count()

+---------+----------+--------------+--------------------+--------------------+------------------+----------------+----------------+
|FeatureID|DistrictID|DistrictNumber|        DistrictName|  CommonDistrictName|              Area|       Perimeter|  Areal_Roudness|
+---------+----------+--------------+--------------------+--------------------+------------------+----------------+----------------+
|     1481|      1481|           307|CAÑADA DE CEUTA  ...|CAÑADA DE CEUTA  ...| 0.701350887144745|5.07877288194578|58.3730176742825|
|     1483|      1483|           321|SAN JUAN-EL ALBAR...|SAN JUAN-EL ALBAR...| 0.119296166043464|1.80644236512815|67.6849940987973|
|     1907|      1907|           219| PARQ EMP SANTA CRUZ|  POL IND SANTA CRUZ| 0.217098490500563|2.05485075984035|80.2696517140211|
|     1903|      1903|           218|PARQ EMP GUADALHORCE| POL IND GUADALHORCE|  2.41414116179941|8.36031901799365|65.7902812038638|
|     1814|      1814|            39|LA TORRECILLA    ...|LA TORRECILLA    ...|0.0779993264614513|1.46935145620861|67.2857349603464|
|     1799|      1799|            61|BARCENILLAS      ...|BARCENILLAS      ...|0.0882932183024387|1.71788838314691|61.2310903101391|
|     1829|      1829|            91|LOS CASINIS      ...|LOS CASINIS      ...| 0.059052466313134|1.09366426529924|78.6571597315372|
|     1832|      1832|            93|CORTIJO BAZAN    ...|CORTIJO BAZAN    ...|  0.27180431029331| 3.4470711714242|53.5403469850621|
|     1932|      1932|           220|PARQ EMP SANTA TE...|POL IND SANTA TERESA| 0.386730630259697|3.09971175001211|71.0209108547699|
|     1955|      1955|           217| ESTACIÓN LOS PRADOS| ESTACIÓN LOS PRADOS| 0.525918272824723|6.39494618833611|40.1444486748773|
|     1967|      1967|           190|PARQ EMP SANTA BA...|POL IND SANTA BAR...| 0.194154740909272|2.38208062743834|65.4818295031437|
|     1833|      1833|            81|LOS ANTONIOS     ...|LOS ANTONIOS     ...| 0.112248711300114|1.55465075338858| 76.288855963229|
|     1789|      1789|            90|SAN MIGUEL       ...|SAN MIGUEL       ...|  0.15799962773472|1.80055693865087|78.1491816039208|
|     1989|      1989|           229|POL IND HAZA DE L...|POL IND HAZA DE L...| 0.313214454112876|3.52336897894948|56.2297345713805|
|     2004|      2004|           223|PARQ EMP LA HUERT...|POL IND LA HUERTE...| 0.131227870529921|1.58313684415656|81.0023925003434|
|     1719|      1719|           101|FINCA SAN JOSE   ...|FINCA SAN JOSE   ...| 0.236560624963281|2.82654135060932|60.9142846126494|
|     1506|      1506|           280|PILAR DEL PRADO  ...|PILAR DEL PRADO  ...|0.0902783373939512|1.39518942159304|76.2363093101877|
|     1538|      1538|           312|CHURRIANA        ...|CHURRIANA        ...| 0.145001535573894|3.13749831712242|42.9641338798612|
|     1537|      1537|           331|AEROPUERTO BASE A...|AEROPUERTO BASE A...|  6.27206575384798|14.8722335501829|59.6118179502758|
|     1539|      1539|           510|LA TOSCA         ...|LA TOSCA         ...|0.0567911721896234|1.02857616254045|82.0176314178729|
+---------+----------+--------------+--------------------+--------------------+------------------+----------------+----------------+
only showing top 20 rows

root
 |-- FeatureID: string (nullable = true)
 |-- DistrictID: integer (nullable = true)
 |-- DistrictNumber: integer (nullable = true)
 |-- DistrictName: string (nullable = true)
 |-- CommonDistrictName: string (nullable = true)
 |-- Area: double (nullable = true)
 |-- Perimeter: double (nullable = true)
 |-- Areal_Roudness: double (nullable = true)

419

In [0]:
df_centroids = df_centroids.withColumnRenamed("id", "FeatureID")\
                       .withColumnRenamed("ID_BARRIO", "DistrictID")\
                       .withColumnRenamed("NUMBARRIO", "DistrictNumber")\
                       .withColumnRenamed("NOMBARRIO", "DistrictName")\
                       .withColumnRenamed("NOMCOMUNBAR", "CommonDistrictName")


df_centroids = df_centroids.withColumn("FeatureID", regexp_replace(col("FeatureID"), "da_cartografiaBarrio.", ""))

df_centroids.show()
df_centroids.printSchema()
df_centroids.count()

+-----------------+------------+---------+----------+--------------+--------------------+--------------------+
|                x|           y|FeatureID|DistrictID|DistrictNumber|        DistrictName|  CommonDistrictName|
+-----------------+------------+---------+----------+--------------+--------------------+--------------------+
|-4.51450297202484| 36.65247246|     1481|      1481|           307|CAÑADA DE CEUTA  ...|CAÑADA DE CEUTA  ...|
|-4.51310058391924|36.662342585|     1483|      1483|           321|SAN JUAN-EL ALBAR...|SAN JUAN-EL ALBAR...|
|-4.49419718902552|36.699862025|     1907|      1907|           219| PARQ EMP SANTA CRUZ|  POL IND SANTA CRUZ|
|-4.48053383160629|36.693641175|     1903|      1903|           218|PARQ EMP GUADALHORCE| POL IND GUADALHORCE|
|-4.39144409392298| 36.72301841|     1814|      1814|            39|LA TORRECILLA    ...|LA TORRECILLA    ...|
|-4.40882388020586| 36.72613369|     1799|      1799|            61|BARCENILLAS      ...|BARCENILLAS      ...|
|  -4.418852776081|36.745431865|     1829|      1829|            91|LOS CASINIS      ...|LOS CASINIS      ...|
|-4.41116051455645| 36.74645642|     1832|      1832|            93|CORTIJO BAZAN    ...|CORTIJO BAZAN    ...|
|-4.49812828523172|36.697393935|     1932|      1932|           220|PARQ EMP SANTA TE...|POL IND SANTA TERESA|
| -4.4795158726891|36.698660105|     1955|      1955|           217| ESTACIÓN LOS PRADOS| ESTACIÓN LOS PRADOS|
|-4.46270048795698| 36.69235629|     1967|      1967|           190|PARQ EMP SANTA BA...|POL IND SANTA BAR...|
|-4.41040816030319|36.736674465|     1833|      1833|            81|LOS ANTONIOS     ...|LOS ANTONIOS     ...|
| -4.4194501044544|  36.7334368|     1789|      1789|            90|SAN MIGUEL       ...|SAN MIGUEL       ...|
|-4.46568371800736| 36.68775535|     1989|      1989|           229|POL IND HAZA DE L...|POL IND HAZA DE L...|
|-4.50986337267904| 36.70404712|     2004|      2004|           223|PARQ EMP LA HUERT...|POL IND LA HUERTE...|
|-4.42360350139829| 36.75842554|     1719|      1719|           101|FINCA SAN JOSE   ...|FINCA SAN JOSE   ...|
|-4.53382666874682|  36.7214112|     1506|      1506|           280|PILAR DEL PRADO  ...|PILAR DEL PRADO  ...|
|-4.50212202881389| 36.66792558|     1538|      1538|           312|CHURRIANA        ...|CHURRIANA        ...|
|-4.49095342805318| 36.67675741|     1537|      1537|           331|AEROPUERTO BASE A...|AEROPUERTO BASE A...|
|-4.50700317211195| 36.67016036|     1539|      1539|           510|LA TOSCA         ...|LA TOSCA         ...|
+-----------------+------------+---------+----------+--------------+--------------------+--------------------+
only showing top 20 rows

root
 |-- x: double (nullable = true)
 |-- y: double (nullable = true)
 |-- FeatureID: string (nullable = true)
 |-- DistrictID: integer (nullable = true)
 |-- DistrictNumber: integer (nullable = true)
 |-- DistrictName: string (nullable = true)
 |-- CommonDistrictName: string (nullable = true)

419

### Join df_geoHoods + df_area_perimeter + df_centroids

In [0]:
# Join entre el DataFrame de área/perímetro y el DataFrame de centroides
df_geoDetail = df_area_perimeter.join(df_centroids, "DistrictID")


# df_geoFinal = df_area_perimeter.join(df_centroids, df_area_perimeter.ID_BARRIO == df_centroids.ID_BARRIO)

# Selecciona las columnas que desees mantener
df_geoDetail = df_geoDetail.select(
    df_area_perimeter["DistrictNumber"],
    df_area_perimeter["DistrictID"],
    df_area_perimeter["Area"], 
    df_area_perimeter["Perimeter"],
    df_centroids["x"],
    df_centroids["y"]
)

df_geoDetail.show()
df_geoDetail.printSchema()
df_geoDetail.count()

+--------------+----------+------------------+----------------+-----------------+------------+
|DistrictNumber|DistrictID|              Area|       Perimeter|                x|           y|
+--------------+----------+------------------+----------------+-----------------+------------+
|           307|      1481| 0.701350887144745|5.07877288194578|-4.51450297202484| 36.65247246|
|           321|      1483| 0.119296166043464|1.80644236512815|-4.51310058391924|36.662342585|
|           219|      1907| 0.217098490500563|2.05485075984035|-4.49419718902552|36.699862025|
|           218|      1903|  2.41414116179941|8.36031901799365|-4.48053383160629|36.693641175|
|            39|      1814|0.0779993264614513|1.46935145620861|-4.39144409392298| 36.72301841|
|            61|      1799|0.0882932183024387|1.71788838314691|-4.40882388020586| 36.72613369|
|            91|      1829| 0.059052466313134|1.09366426529924|  -4.418852776081|36.745431865|
|            93|      1832|  0.27180431029331| 3.4470711714242|-4.41116051455645| 36.74645642|
|           220|      1932| 0.386730630259697|3.09971175001211|-4.49812828523172|36.697393935|
|           217|      1955| 0.525918272824723|6.39494618833611| -4.4795158726891|36.698660105|
|           190|      1967| 0.194154740909272|2.38208062743834|-4.46270048795698| 36.69235629|
|            81|      1833| 0.112248711300114|1.55465075338858|-4.41040816030319|36.736674465|
|            90|      1789|  0.15799962773472|1.80055693865087| -4.4194501044544|  36.7334368|
|           229|      1989| 0.313214454112876|3.52336897894948|-4.46568371800736| 36.68775535|
|           223|      2004| 0.131227870529921|1.58313684415656|-4.50986337267904| 36.70404712|
|           101|      1719| 0.236560624963281|2.82654135060932|-4.42360350139829| 36.75842554|
|           280|      1506|0.0902783373939512|1.39518942159304|-4.53382666874682|  36.7214112|
|           312|      1538| 0.145001535573894|3.13749831712242|-4.50212202881389| 36.66792558|
|           331|      1537|  6.27206575384798|14.8722335501829|-4.49095342805318| 36.67675741|
|           510|      1539|0.0567911721896234|1.02857616254045|-4.50700317211195| 36.67016036|
+--------------+----------+------------------+----------------+-----------------+------------+
only showing top 20 rows

root
 |-- DistrictNumber: integer (nullable = true)
 |-- DistrictID: integer (nullable = true)
 |-- Area: double (nullable = true)
 |-- Perimeter: double (nullable = true)
 |-- x: double (nullable = true)
 |-- y: double (nullable = true)

419

In [0]:
df_geoFinal = df_geoHoods.join(df_geoDetail, "DistrictID")

df_geoFinal = df_geoFinal.select(
    df_geoHoods["FeatureID"],
    df_geoHoods["DistrictID"],
    df_geoHoods["DistrictNumber"],
    df_geoHoods["DistrictName"],
    df_geoHoods["CommonDistrictName"],
    df_geoHoods["Geometry"],
    df_geoDetail["Area"],
    df_geoDetail["Perimeter"],
    df_geoDetail["x"],
    df_geoDetail["y"]
)

df_geoFinal.show()
df_geoFinal.printSchema()
df_geoFinal.count()

+---------+----------+--------------+--------------------+--------------------+--------------------+------------------+----------------+-----------------+------------+
|FeatureID|DistrictID|DistrictNumber|        DistrictName|  CommonDistrictName|            Geometry|              Area|       Perimeter|                x|           y|
+---------+----------+--------------+--------------------+--------------------+--------------------+------------------+----------------+-----------------+------------+
|     1481|      1481|           307|CAÑADA DE CEUTA  ...|CAÑADA DE CEUTA  ...|POLYGON ((-4.5144...| 0.701350887144745|5.07877288194578|-4.51450297202484| 36.65247246|
|     1483|      1483|           321|SAN JUAN-EL ALBAR...|SAN JUAN-EL ALBAR...|POLYGON ((-4.5152...| 0.119296166043464|1.80644236512815|-4.51310058391924|36.662342585|
|     1907|      1907|           219| PARQ EMP SANTA CRUZ|  POL IND SANTA CRUZ|POLYGON ((-4.4973...| 0.217098490500563|2.05485075984035|-4.49419718902552|36.699862025|
|     1903|      1903|           218|PARQ EMP GUADALHORCE| POL IND GUADALHORCE|POLYGON ((-4.4922...|  2.41414116179941|8.36031901799365|-4.48053383160629|36.693641175|
|     1814|      1814|            39|LA TORRECILLA    ...|LA TORRECILLA    ...|POLYGON ((-4.3929...|0.0779993264614513|1.46935145620861|-4.39144409392298| 36.72301841|
|     1799|      1799|            61|BARCENILLAS      ...|BARCENILLAS      ...|POLYGON ((-4.4068...|0.0882932183024387|1.71788838314691|-4.40882388020586| 36.72613369|
|     1829|      1829|            91|LOS CASINIS      ...|LOS CASINIS      ...|POLYGON ((-4.4196...| 0.059052466313134|1.09366426529924|  -4.418852776081|36.745431865|
|     1832|      1832|            93|CORTIJO BAZAN    ...|CORTIJO BAZAN    ...|POLYGON ((-4.4120...|  0.27180431029331| 3.4470711714242|-4.41116051455645| 36.74645642|
|     1932|      1932|           220|PARQ EMP SANTA TE...|POL IND SANTA TERESA|POLYGON ((-4.4995...| 0.386730630259697|3.09971175001211|-4.49812828523172|36.697393935|
|     1955|      1955|           217| ESTACIÓN LOS PRADOS| ESTACIÓN LOS PRADOS|POLYGON ((-4.4925...| 0.525918272824723|6.39494618833611| -4.4795158726891|36.698660105|
|     1967|      1967|           190|PARQ EMP SANTA BA...|POL IND SANTA BAR...|POLYGON ((-4.4593...| 0.194154740909272|2.38208062743834|-4.46270048795698| 36.69235629|
|     1833|      1833|            81|LOS ANTONIOS     ...|LOS ANTONIOS     ...|POLYGON ((-4.4117...| 0.112248711300114|1.55465075338858|-4.41040816030319|36.736674465|
|     1789|      1789|            90|SAN MIGUEL       ...|SAN MIGUEL       ...|POLYGON ((-4.4173...|  0.15799962773472|1.80055693865087| -4.4194501044544|  36.7334368|
|     1989|      1989|           229|POL IND HAZA DE L...|POL IND HAZA DE L...|POLYGON ((-4.4653...| 0.313214454112876|3.52336897894948|-4.46568371800736| 36.68775535|
|     2004|      2004|           223|PARQ EMP LA HUERT...|POL IND LA HUERTE...|POLYGON ((-4.5121...| 0.131227870529921|1.58313684415656|-4.50986337267904| 36.70404712|
|     1719|      1719|           101|FINCA SAN JOSE   ...|FINCA SAN JOSE   ...|POLYGON ((-4.4251...| 0.236560624963281|2.82654135060932|-4.42360350139829| 36.75842554|
|     1506|      1506|           280|PILAR DEL PRADO  ...|PILAR DEL PRADO  ...|POLYGON ((-4.5352...|0.0902783373939512|1.39518942159304|-4.53382666874682|  36.7214112|
|     1538|      1538|           312|CHURRIANA        ...|CHURRIANA        ...|POLYGON ((-4.5046...| 0.145001535573894|3.13749831712242|-4.50212202881389| 36.66792558|
|     1537|      1537|           331|AEROPUERTO BASE A...|AEROPUERTO BASE A...|POLYGON ((-4.5165...|  6.27206575384798|14.8722335501829|-4.49095342805318| 36.67675741|
|     1539|      1539|           510|LA TOSCA         ...|LA TOSCA         ...|POLYGON ((-4.5088...|0.0567911721896234|1.02857616254045|-4.50700317211195| 36.67016036|
+---------+----------+--------------+--------------------+--------------------+--------------------+------------------+----------------+-----------------+------------+
only showing top 20 rows

root
 |-- FeatureID: string (nullable = true)
 |-- DistrictID: integer (nullable = true)
 |-- DistrictNumber: integer (nullable = true)
 |-- DistrictName: string (nullable = true)
 |-- CommonDistrictName: string (nullable = true)
 |-- Geometry: string (nullable = true)
 |-- Area: double (nullable = true)
 |-- Perimeter: double (nullable = true)
 |-- x: double (nullable = true)
 |-- y: double (nullable = true)

419

### FAILED ATTEMPT WITH SEDONA
it was installed but the module is not found...

In [0]:
from pyspark.sql import SparkSession

from sedona.utils import KryoSerializer, SedonaKryoRegistrator
from sedona.register import SedonaRegistrator
SedonaRegistrator.registerAll(spark)

from sedona.core.formatMapper.wkt import WKTReader
from sedona.sql.functions import *
from sedona.core.spatialOperator import JoinQuery

---------------------------------------------------------------------------
ModuleNotFoundError                       Traceback (most recent call last)
File <command-489083765276858>, line 3
      1 from pyspark.sql import SparkSession
----> 3 from sedona.utils import KryoSerializer, SedonaKryoRegistrator
      4 from sedona.register import SedonaRegistrator
      5 SedonaRegistrator.registerAll(spark)

ModuleNotFoundError: No module named 'sedona'

In [0]:
from pyspark.sql import SparkSession
from sedona.register import SedonaRegistrator

# Asumiendo que tienes tu sesión de Spark ya iniciada en Databricks (como 'spark')
# solo necesitas registrar Sedona para usar sus funciones
SedonaRegistrator.registerAll(spark)

---------------------------------------------------------------------------
ModuleNotFoundError                       Traceback (most recent call last)
File <command-489083765276870>, line 2
      1 from pyspark.sql import SparkSession
----> 2 from sedona.register import SedonaRegistrator
      4 # Asumiendo que tienes tu sesión de Spark ya iniciada en Databricks (como 'spark')
      5 # solo necesitas registrar Sedona para usar sus funciones
      6 SedonaRegistrator.registerAll(spark)

ModuleNotFoundError: No module named 'sedona'

In [0]:


spark = SparkSession.builder \
    .config("spark.serializer", KryoSerializer.getName) \
    .config("spark.kryo.registrator", SedonaKryoRegistrator.getName) \
    .getOrCreate()

SedonaRegistrator.registerAll(spark)


df_geoHoods_full = df_geoHoods.withColumn("geometry", WKTReader.read(df_geoHoods["Geometry"]))


df_geoHoods_full = df_geoHoods_full.withColumn("area", st_area(df["geometry"]))
df_geoHoods_full = df_geoHoods_full.withColumn("centroid", st_centroid(df["geometry"]))


df_geoHoods_full.select("FeatureID", "DistrictName", "area", "centroid").show()


#df_geoHoods_full.write.format("parquet").save("/mnt/path_to_output_directory")

# 4. SAVING INTO SILVER LAYER

In [0]:

df_countries.write.mode("overwrite").option("header", "true").csv("/mnt/censusmalaga/silver/CountryMunicipProvin/countries")
df_municipalities.write.mode("overwrite").option("header", "true").csv("/mnt/censusmalaga/silver/CountryMunicipProvin/municipalities")
df_provinces.write.mode("overwrite").option("header", "true").csv("/mnt/censusmalaga/silver/CountryMunicipProvin/provinces")

df_census2021.write.mode("overwrite").option("header", "true").csv("/mnt/censusmalaga/silver/CensusByYear/2021")
df_census2020.write.mode("overwrite").option("header", "true").csv("/mnt/censusmalaga/silver/CensusByYear/2020")
df_census2019.write.mode("overwrite").option("header", "true").csv("/mnt/censusmalaga/silver/CensusByYear/2019")
df_census2018.write.mode("overwrite").option("header", "true").csv("/mnt/censusmalaga/silver/CensusByYear/2018")
df_census_combined.write.mode("overwrite").option("header", "true").csv("/mnt/censusmalaga/silver/CensusCombined")

#df_census_combined.write.mode("overwrite").partitionBy("censusYear").option("header", "true").csv("/mnt/censusmalaga/silver/CensusCombined")


df_geoDetail.write.mode("overwrite").option("header", "true").csv("/mnt/censusmalaga/silver/GeoData/Detail")
df_geoFinal.write.mode("overwrite").option("header", "true").csv("/mnt/censusmalaga/silver/GeoData/Final")

# 5. SAVING INTO GOLD LAYER

In [0]:
# df_countries.write.mode("overwrite").option("header", "true").csv("/mnt/censusmalaga/gold/countries")
# df_municipalities.write.mode("overwrite").option("header", "true").csv("/mnt/censusmalaga/gold/municipalities")
# df_provinces.write.mode("overwrite").option("header", "true").csv("/mnt/censusmalaga/gold/provinces")
# 
# df_census_combined.write.mode("overwrite").option("header", "true").csv("/mnt/censusmalaga/gold/CensusCombined")
# 
# df_geoFinal.write.mode("overwrite").option("header", "true").csv("/mnt/censusmalaga/gold/GeoData")

In [0]:
df_countries.repartition(1).write.mode("overwrite").option("header", "true").csv("/mnt/censusmalaga/gold/countries")
df_municipalities.repartition(1).write.mode("overwrite").option("header", "true").csv("/mnt/censusmalaga/gold/municipalities")
df_provinces.repartition(1).write.mode("overwrite").option("header", "true").csv("/mnt/censusmalaga/gold/provinces")

df_census_combined.repartition(1).write.mode("overwrite").option("header", "true").csv("/mnt/censusmalaga/gold/CensusCombined")

df_geoFinal.repartition(1).write.mode("overwrite").option("header", "true").csv("/mnt/censusmalaga/gold/GeoData")